<a href='http://www.algebra.hr'> <img src='../algebra_logo_color_h.png' alt="Algebra" width="500" /></a>
___
# Pandas manipulacija podacima

Do sada smo naučili kako učitati podatke i kako ih prilagoditi za daljnju obradu. Pokušajmonešto pročitati iz tih podataka. Koristit ćemo se podacima iz csv datoteka:<br>
- *Data\Vjezbe_Primjeri\airbnb_new_york_city_listings.csv* - sažetak podataka i mjerenja za ponudu na AirBnB u New Yorku
- *Data\Vjezbe_Primjeri\airbnb_new_york_city_reviews_full.csv* - podaci o ocjenama ponude na AirBnB u New Yorku
- *Data\Vjezbe_Primjeri\mall_customers.csv* - za potrebe dodatnog pojašnjavanja funkcionalnosti Pandas biblioteke - podaci su preuzeti s https://www.kaggle.com/kandij/mall-customers
- *Data\Vjezbe_Primjeri\ocjene.csv* - za potrebe dodatnog pojašnjavanja funkcionalnosti Pandas biblioteke - podaci su generirani nasumično pomoću web usluge https://www.json-generator.com/ preuzete s http://insideairbnb.com/get-the-data.html.

Za početak, pripremimo ih za analizu što ćemo iskoristiti kao malo ponavljanje prvog dijela gradiva o Pandas biblioteci.

In [1]:
import pandas as pd

abnb_ny_listings_df = pd.read_csv('../Data/Vjezbe_Primjeri/airbnb_new_york_city_listings.csv')

In [2]:
abnb_ny_listings_df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.753560,-73.985590,Entire home/apt,150,30,48,2019-11-04,0.34,3,341
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Bedford-Stuyvesant,40.684940,-73.957650,Entire home/apt,75,1,408,2021-06-29,5.09,1,212
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.685350,-73.955120,Private room,60,30,50,2016-06-05,0.55,1,365
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.662650,-73.994540,Entire home/apt,275,5,1,2014-01-02,0.01,1,184
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.764570,-73.983170,Private room,61,2,485,2021-07-18,3.63,1,255
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36719,51447515,Gorgeous 2 Bedroom - in Prime Midtown East,51589519,Asi,Manhattan,Midtown,40.755787,-73.965126,Entire home/apt,255,31,0,NaN,NaN,6,364
36720,51449962,"Charming UWS 1-bdrm, 1-office, 1/2 block to Ct...",2971741,Dina Marie,Manhattan,Upper West Side,40.787029,-73.969239,Entire home/apt,306,5,0,NaN,NaN,1,16
36721,51450816,The Hunter IIII,61391963,Stay With Vibe,Manhattan,Upper East Side,40.768950,-73.960455,Entire home/apt,63,30,0,NaN,NaN,96,334
36722,51451029,Rockaway Beach Surf Getaway,10123226,Chase,Queens,Arverne,40.599257,-73.797953,Private room,75,1,0,NaN,NaN,1,87
36723,51451368,Nyc apt in the middle in nyc,17770287,Nina,Manhattan,Murray Hill,40.748655,-73.981209,Entire home/apt,115,30,0,NaN,NaN,11,364

Prvo ćemo se upoznati s tipovima podataka u kolonama. Oni će nam pomoći u slučaju kada neki tip podatka trebamo promijeniti i kada želimo popuniti prazne ćelije podacima. Primjer je kolona "Name", koja je tekstualnog tipa i svako ćemo prazno polje popuniti, tako što ćemo upisati vrijednost "Nedostaje ime", a za numeričke tipove ćemo dodati vrijednost 0.00 ili samo 0. Sve navedeno čini veliku razliku.

In [3]:
abnb_ny_listings_df.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

Kolona "last_review" je object tip podataka, a u toj koloni su datumi zadnjih ocjena. Promijenimo tip podataka u toj koloni, u *DateTime* tipu podatka, pomoću metode *to_datetime()* koja kao argument prima naziv kolone.

*INFORMACIJA: mogli bismo koristiti i naš "stari" način pomoću astype() metode kojoj kao argument predamo naziv tipa podatka. Primjer prikazan unutar komentara.*

Kolona "price" je cjelobrojnog tipa podataka, a prikladniji je decimalni pa promijenimo tip i toj koloni.

In [4]:
# abnb_ny_listings_df['last_review'] = abnb_ny_listings_df['last_review'].astype('datetime')

abnb_ny_listings_df['last_review'] = pd.to_datetime(abnb_ny_listings_df['last_review'])
abnb_ny_listings_df['price'] = abnb_ny_listings_df['price'].astype('float')

abnb_ny_listings_df.dtypes

id                                         int64
name                                      object
host_id                                    int64
host_name                                 object
neighbourhood_group                       object
neighbourhood                             object
latitude                                 float64
longitude                                float64
room_type                                 object
price                                    float64
minimum_nights                             int64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                           int64
dtype: object

Sada kada imamo tip podatka *DateTime*, to možemo iskoristiti za neke dodatne akcije nad DF-om, kao što su na primjer dodavanje nove kolone naziva "last_review_year" u kojoj će biti pohranjeni podaci o godini zadnje ocjene, ali ne i cijeli datum.

In [5]:
abnb_ny_listings_df['last_review_year'] = abnb_ny_listings_df['last_review'].dt.year
# abnb_ny_listings_df['last_review_year'] = abnb_ny_listings_df['last_review_year'].astype('int')

abnb_ny_listings_df.dtypes

id                                         int64
name                                      object
host_id                                    int64
host_name                                 object
neighbourhood_group                       object
neighbourhood                             object
latitude                                 float64
longitude                                float64
room_type                                 object
price                                    float64
minimum_nights                             int64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                           int64
last_review_year                         float64
dtype: object

Sada imamo novu kolonu, ali su u njoj pohranjeni podaci u decimalnom zapisu. Godine trebaju biti zapisane kao cijeli brojevi. To ćemo riješiti nakon provjere toga  imamo li prazne ćelije.

Mi smo koristili *empty* svojstvo, ali ćemo pomoću metode dobiti malo više podataka o praznim ćelijama.

In [6]:
abnb_ny_listings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36724 entries, 0 to 36723
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              36724 non-null  int64
 1   name                            36711 non-null  object
 2   host_id                         36724 non-null  int64
 3   host_name                       36701 non-null  object
 4   neighbourhood_group             36724 non-null  object
 5   neighbourhood                   36724 non-null  object
 6   latitude                        36724 non-null  float64
 7   longitude                       36724 non-null  float64
 8   room_type                       36724 non-null  object
 9   price                           36724 non-null  float64
 10  minimum_nights                  36724 non-null  int64
 11  number_of_reviews               36724 non-null  int64
 12  last_review                     27309 non-null  datetime64[ns]
 13  reviews_per_month               27309 non-null  float64
 14  calculated_host_listings_count  36724 non-null  int64
 15  availability_365                36724 non-null  int64
 16  last_review_year                27309 non-null  float64
dtypes: datetime64[ns](1), float64(5), int64(6), object(5)
memory usage: 4.8+ MB

In [7]:
abnb_ny_listings_df.isnull().sum()

id                                   0
name                                13
host_id                              0
host_name                           23
neighbourhood_group                  0
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                                0
minimum_nights                       0
number_of_reviews                    0
last_review                       9415
reviews_per_month                 9415
calculated_host_listings_count       0
availability_365                     0
last_review_year                  9415
dtype: int64

In [8]:
abnb_ny_listings_df.dtypes

id                                         int64
name                                      object
host_id                                    int64
host_name                                 object
neighbourhood_group                       object
neighbourhood                             object
latitude                                 float64
longitude                                float64
room_type                                 object
price                                    float64
minimum_nights                             int64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                           int64
last_review_year                         float64
dtype: object

Imamo pet kolona koje imaju prazne ćelije. Kolone "name" i "host_name" su tipa object, odnosno tekstualnog tipa, dok su "reviews_per_month" i "last_review_year" decimalni brojevi, a kolona "last_review" je tipa *DateTime*.

Unesimo podatke u prazne ćelije tako da nam kasnije ne utječu na proračune. To će najbolje biti ako za kolonu:<br>
- "name" unesemo vrijednost "No Name Listing"
- "host_name" unesemo vrijednost "Bez imena" ili engleski uvriježeni oblik za bezimene "Jane Doe" za ženske osobe ili "John Doe" za muške osobe, nadalje mi ćemo koristi "J. Doe" da ostanemo neutralni
- "reviews_per_month" unesemo vrijednost 0.00 jer broj ocjena mjesečno može biti decimalni broj
- "last_review_year" unesemo vrijednost 0
- "last_review" unesemo vrijednost '01-01-1970' što bi odgovaralo početku UNIX vremena

Za ovu aktivnost imamo na raspolaganju tri metode:<br>
- *fillna()*
- *replace()*
- *interpolate()*

Mi ćemo koristiti metodu *fillna()*.

*INFORMACIJA: više detalja o navedenim funkcijama možete pronaći na stranici: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html.*

In [9]:
abnb_ny_listings_df['name'] = abnb_ny_listings_df['name'].fillna('No Name Listing')

abnb_ny_listings_df['host_name'] = abnb_ny_listings_df['host_name'].fillna('J. Doe')
abnb_ny_listings_df['last_review'] = abnb_ny_listings_df['last_review'].fillna('1970-01-01')
abnb_ny_listings_df['last_review_year'] = abnb_ny_listings_df['last_review_year'].fillna(1970.0)
abnb_ny_listings_df['reviews_per_month'] = abnb_ny_listings_df['reviews_per_month'].fillna(0.0)

Provjerimo ponovno koliko je ćelija koje nemaju vrijednost.

In [10]:
abnb_ny_listings_df.isnull().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
last_review_year                  0
dtype: int64

Odlično, nema niti jedna prazna ćelija. Provjerimo opet tipove podataka jer je moguće da smo ovom promjenom napravili i neke druge koje nismo željeli.

In [11]:
abnb_ny_listings_df.dtypes

id                                         int64
name                                      object
host_id                                    int64
host_name                                 object
neighbourhood_group                       object
neighbourhood                             object
latitude                                 float64
longitude                                float64
room_type                                 object
price                                    float64
minimum_nights                             int64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                           int64
last_review_year                         float64
dtype: object

Kolona "last_review" ponovno je tekstualni tip podatka, a "last_review_year" kolonu smo ionako željeli prebaciti u cjelobrojni tip umjesto decimalnog. Napravimo to za ove dvije kolone.

In [12]:
abnb_ny_listings_df['last_review_year'] = abnb_ny_listings_df['last_review_year'].astype('int')

abnb_ny_listings_df.dtypes

id                                         int64
name                                      object
host_id                                    int64
host_name                                 object
neighbourhood_group                       object
neighbourhood                             object
latitude                                 float64
longitude                                float64
room_type                                 object
price                                    float64
minimum_nights                             int64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                           int64
last_review_year                           int32
dtype: object

Sada je već bolje. Prikažimo naš DF da vidimo što smo napravili.

In [13]:
abnb_ny_listings_df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,last_review_year
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.753560,-73.985590,Entire home/apt,150.0,30,48,2019-11-04,0.34,3,341,2019
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Bedford-Stuyvesant,40.684940,-73.957650,Entire home/apt,75.0,1,408,2021-06-29,5.09,1,212,2021
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.685350,-73.955120,Private room,60.0,30,50,2016-06-05,0.55,1,365,2016
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.662650,-73.994540,Entire home/apt,275.0,5,1,2014-01-02,0.01,1,184,2014
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.764570,-73.983170,Private room,61.0,2,485,2021-07-18,3.63,1,255,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36719,51447515,Gorgeous 2 Bedroom - in Prime Midtown East,51589519,Asi,Manhattan,Midtown,40.755787,-73.965126,Entire home/apt,255.0,31,0,1970-01-01,0.00,6,364,1970
36720,51449962,"Charming UWS 1-bdrm, 1-office, 1/2 block to Ct...",2971741,Dina Marie,Manhattan,Upper West Side,40.787029,-73.969239,Entire home/apt,306.0,5,0,1970-01-01,0.00,1,16,1970
36721,51450816,The Hunter IIII,61391963,Stay With Vibe,Manhattan,Upper East Side,40.768950,-73.960455,Entire home/apt,63.0,30,0,1970-01-01,0.00,96,334,1970
36722,51451029,Rockaway Beach Surf Getaway,10123226,Chase,Queens,Arverne,40.599257,-73.797953,Private room,75.0,1,0,1970-01-01,0.00,1,87,1970
36723,51451368,Nyc apt in the middle in nyc,17770287,Nina,Manhattan,Murray Hill,40.748655,-73.981209,Entire home/apt,115.0,30,0,1970-01-01,0.00,11,364,1970

Odlično, imamo jednu kolonu više od inicijalnog skupa podataka, nemamo praznih ćelija.

Većinu tipova podataka smo očistili, međutim, često se dogodi da nam tekstualni podaci sadrže znakove koje računala ne prikazuju (primjer je znak za novi red '*\n*'). Ti znakovi su tu, no kako nam ne trebaju u podacima, bilo bi ih dobro obrisati. Pandas podržava string metodu *str.strip()* nad *DataFrame* objektom. Ova metoda briše sve posebne znakove, prazna mjesta (razmaknicu ili *space*) te slične znakove na početku i na kraju tekstualnog podatka.

Očistimo i tekstualne podatke pomoću *str.strip()* metode, u svakoj koloni koja ima tekstualni tip podatka.

*INFORMACIJA: možemo koristiti i str.lower() i str.upper() metode ako nam trebaju. U našem slučaju one nisu korisne. Više informacija možete pronaći na stranici: https://pandas.pydata.org/docs/reference/api/pandas.Series.str.strip.html.*

In [14]:
abnb_ny_listings_df.dtypes

id                                         int64
name                                      object
host_id                                    int64
host_name                                 object
neighbourhood_group                       object
neighbourhood                             object
latitude                                 float64
longitude                                float64
room_type                                 object
price                                    float64
minimum_nights                             int64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                           int64
last_review_year                           int32
dtype: object

In [15]:
abnb_ny_listings_df['name'] = abnb_ny_listings_df['name'].str.strip()
abnb_ny_listings_df['host_name'] = abnb_ny_listings_df['host_name'].str.strip()
abnb_ny_listings_df['neighbourhood_group'] = abnb_ny_listings_df['neighbourhood_group'].str.strip()
abnb_ny_listings_df['neighbourhood'] = abnb_ny_listings_df['neighbourhood'].str.strip()
abnb_ny_listings_df['room_type'] = abnb_ny_listings_df['room_type'].str.strip()

In [16]:
abnb_ny_listings_df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,last_review_year
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.753560,-73.985590,Entire home/apt,150.0,30,48,2019-11-04,0.34,3,341,2019
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Bedford-Stuyvesant,40.684940,-73.957650,Entire home/apt,75.0,1,408,2021-06-29,5.09,1,212,2021
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.685350,-73.955120,Private room,60.0,30,50,2016-06-05,0.55,1,365,2016
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.662650,-73.994540,Entire home/apt,275.0,5,1,2014-01-02,0.01,1,184,2014
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.764570,-73.983170,Private room,61.0,2,485,2021-07-18,3.63,1,255,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36719,51447515,Gorgeous 2 Bedroom - in Prime Midtown East,51589519,Asi,Manhattan,Midtown,40.755787,-73.965126,Entire home/apt,255.0,31,0,1970-01-01,0.00,6,364,1970
36720,51449962,"Charming UWS 1-bdrm, 1-office, 1/2 block to Ct...",2971741,Dina Marie,Manhattan,Upper West Side,40.787029,-73.969239,Entire home/apt,306.0,5,0,1970-01-01,0.00,1,16,1970
36721,51450816,The Hunter IIII,61391963,Stay With Vibe,Manhattan,Upper East Side,40.768950,-73.960455,Entire home/apt,63.0,30,0,1970-01-01,0.00,96,334,1970
36722,51451029,Rockaway Beach Surf Getaway,10123226,Chase,Queens,Arverne,40.599257,-73.797953,Private room,75.0,1,0,1970-01-01,0.00,1,87,1970
36723,51451368,Nyc apt in the middle in nyc,17770287,Nina,Manhattan,Murray Hill,40.748655,-73.981209,Entire home/apt,115.0,30,0,1970-01-01,0.00,11,364,1970

Provjerimo jesmo li napravili neke neplanirane promjene.

In [17]:
abnb_ny_listings_df.dtypes

id                                         int64
name                                      object
host_id                                    int64
host_name                                 object
neighbourhood_group                       object
neighbourhood                             object
latitude                                 float64
longitude                                float64
room_type                                 object
price                                    float64
minimum_nights                             int64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                           int64
last_review_year                           int32
dtype: object

In [18]:
abnb_ny_listings_df.isnull().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
last_review_year                  0
dtype: int64

Napravimo još jednu preinaku u podacima kako bismo krenuli s uporabom podataka. Za početak prikažimo još jednom sve kolone:

In [19]:
abnb_ny_listings_df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'last_review_year'],
      dtype='object')

Vidimo da imamo kolone naziva "price" i "minimum_nights". Jedna kolona prikazuje cijenu najma po noćenju, a druga prikazuje koliko se minimalno noćenja mora uzeti. Ako spojimo ove dvije kolone, možemo dobiti novu koja će nam prikazati podatak o minimalnom prihodu. Dakle, ako pomnožimo cijenu s minimalnim brojem noćenja, onda je to minimalni prihod koji iznajmljivač može dobiti za svoju nekretninu.

Ako nova kolona prikazuje podatak o minimalnom prihodu, onda ćemo je nazvati "minimal_revenue". Napravimo to.

In [20]:
abnb_ny_listings_df['minimal_revenue'] = abnb_ny_listings_df['price'] * abnb_ny_listings_df['minimum_nights']

abnb_ny_listings_df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,last_review_year,minimal_revenue
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.753560,-73.985590,Entire home/apt,150.0,30,48,2019-11-04,0.34,3,341,2019,4500.0
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Bedford-Stuyvesant,40.684940,-73.957650,Entire home/apt,75.0,1,408,2021-06-29,5.09,1,212,2021,75.0
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.685350,-73.955120,Private room,60.0,30,50,2016-06-05,0.55,1,365,2016,1800.0
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.662650,-73.994540,Entire home/apt,275.0,5,1,2014-01-02,0.01,1,184,2014,1375.0
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.764570,-73.983170,Private room,61.0,2,485,2021-07-18,3.63,1,255,2021,122.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36719,51447515,Gorgeous 2 Bedroom - in Prime Midtown East,51589519,Asi,Manhattan,Midtown,40.755787,-73.965126,Entire home/apt,255.0,31,0,1970-01-01,0.00,6,364,1970,7905.0
36720,51449962,"Charming UWS 1-bdrm, 1-office, 1/2 block to Ct...",2971741,Dina Marie,Manhattan,Upper West Side,40.787029,-73.969239,Entire home/apt,306.0,5,0,1970-01-01,0.00,1,16,1970,1530.0
36721,51450816,The Hunter IIII,61391963,Stay With Vibe,Manhattan,Upper East Side,40.768950,-73.960455,Entire home/apt,63.0,30,0,1970-01-01,0.00,96,334,1970,1890.0
36722,51451029,Rockaway Beach Surf Getaway,10123226,Chase,Queens,Arverne,40.599257,-73.797953,Private room,75.0,1,0,1970-01-01,0.00,1,87,1970,75.0
36723,51451368,Nyc apt in the middle in nyc,17770287,Nina,Manhattan,Murray Hill,40.748655,-73.981209,Entire home/apt,115.0,30,0,1970-01-01,0.00,11,364,1970,3450.0

In [21]:
abnb_ny_listings_df.dtypes

id                                         int64
name                                      object
host_id                                    int64
host_name                                 object
neighbourhood_group                       object
neighbourhood                             object
latitude                                 float64
longitude                                float64
room_type                                 object
price                                    float64
minimum_nights                             int64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                           int64
last_review_year                           int32
minimal_revenue                          float64
dtype: object

In [22]:
abnb_ny_listings_df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,last_review_year,minimal_revenue
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.753560,-73.985590,Entire home/apt,150.0,30,48,2019-11-04,0.34,3,341,2019,4500.0
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Bedford-Stuyvesant,40.684940,-73.957650,Entire home/apt,75.0,1,408,2021-06-29,5.09,1,212,2021,75.0
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.685350,-73.955120,Private room,60.0,30,50,2016-06-05,0.55,1,365,2016,1800.0
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.662650,-73.994540,Entire home/apt,275.0,5,1,2014-01-02,0.01,1,184,2014,1375.0
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.764570,-73.983170,Private room,61.0,2,485,2021-07-18,3.63,1,255,2021,122.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36719,51447515,Gorgeous 2 Bedroom - in Prime Midtown East,51589519,Asi,Manhattan,Midtown,40.755787,-73.965126,Entire home/apt,255.0,31,0,1970-01-01,0.00,6,364,1970,7905.0
36720,51449962,"Charming UWS 1-bdrm, 1-office, 1/2 block to Ct...",2971741,Dina Marie,Manhattan,Upper West Side,40.787029,-73.969239,Entire home/apt,306.0,5,0,1970-01-01,0.00,1,16,1970,1530.0
36721,51450816,The Hunter IIII,61391963,Stay With Vibe,Manhattan,Upper East Side,40.768950,-73.960455,Entire home/apt,63.0,30,0,1970-01-01,0.00,96,334,1970,1890.0
36722,51451029,Rockaway Beach Surf Getaway,10123226,Chase,Queens,Arverne,40.599257,-73.797953,Private room,75.0,1,0,1970-01-01,0.00,1,87,1970,75.0
36723,51451368,Nyc apt in the middle in nyc,17770287,Nina,Manhattan,Murray Hill,40.748655,-73.981209,Entire home/apt,115.0,30,0,1970-01-01,0.00,11,364,1970,3450.0

Sada trebamo sve ovo ponoviti za skup podataka o ocjenama nekretnina, za skup podataka ocjena korisnika trgovačkog lanca i ocjene studenata.

Krenimo s ocjenama nekretnina. Ovaj skup podataka ima kolonu s datumima pa ćemo ovaj put konverziju datuma napraviti prilikom učitavanja podataka izravno u *read_csv()* metodi, koja prima dva argumenta vezana uz konverziju datuma. To su:<br>
- *parse_dates*
- *date_parser.*

Više detalja na: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html.

Mi ćemo koristiti *parse_dates* argument tako što ćemo tom argumentu proslijediti listu sa samo jednim elementom, odnosno nazivom kolone.

**VJEŽBA**<br>
**Probajte ovu opciju tako da argumentu parse_dates proslijedite Boolean vrijednost *True parse_dates=True.***

In [23]:
abnb_ny_reviews_df = pd.read_csv('../Data/Vjezbe_Primjeri/airbnb_new_york_city_reviews_full.csv', parse_dates=['date'])
abnb_ny_reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 839321 entries, 0 to 839320
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   listing_id     839321 non-null  int64
 1   id             839321 non-null  int64
 2   date           839321 non-null  datetime64[ns]
 3   reviewer_id    839321 non-null  int64
 4   reviewer_name  839313 non-null  object
 5   comments       838492 non-null  object
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 38.4+ MB

Imamo šest kolona i 839321 redaka.

Provjerimo koji su tipovi podataka u ovih 6 kolona.

In [24]:
abnb_ny_reviews_df.dtypes

listing_id                int64
id                        int64
date             datetime64[ns]
reviewer_id               int64
reviewer_name            object
comments                 object
dtype: object

Provjerom tipa podataka po kolonama, vidimo da kolona za datum ima ispravan tip podatka tako da nema potrebe za njenom konverzijom. Nakon provjere imamo li praznih ćelija, trebat ćemo samo *počistiti* tekstualne podatke u kolonama "reviewer_name" i "comments".

Provjerimo imamo li praznih ćelija i koliko ih je.

In [25]:
abnb_ny_reviews_df.isnull().sum()

listing_id         0
id                 0
date               0
reviewer_id        0
reviewer_name      8
comments         829
dtype: int64

Ćelije bez podataka imamo u kolonama "comments" i "reviewer_name". Zato ćemo prvo popuniti te ćelije te nakon toga "počistiti" tekstualne podatke.

In [26]:
abnb_ny_reviews_df['reviewer_name'] = abnb_ny_reviews_df['reviewer_name'].fillna('J. Doe')
abnb_ny_reviews_df['comments'] = abnb_ny_reviews_df['comments'].fillna('No Comment for  Listing')

In [27]:
abnb_ny_reviews_df.isnull().sum()

listing_id       0
id               0
date             0
reviewer_id      0
reviewer_name    0
comments         0
dtype: int64

Sada više nemamo praznih ćelija. Vrijeme je da *očistimo* tekstualne podatke.

In [28]:
abnb_ny_reviews_df['reviewer_name'] = abnb_ny_reviews_df['reviewer_name'].str.strip()
abnb_ny_reviews_df['comments'] = abnb_ny_reviews_df['comments'].str.strip()

In [29]:
abnb_ny_reviews_df.isnull().sum()

listing_id       0
id               0
date             0
reviewer_id      0
reviewer_name    0
comments         0
dtype: int64

In [30]:
abnb_ny_reviews_df.dtypes

listing_id                int64
id                        int64
date             datetime64[ns]
reviewer_id               int64
reviewer_name            object
comments                 object
dtype: object

**VJEŽBA**<br>
**Napravite skupove podataka s ocjenama korisnika trgovačkog centra te ocjenama učenika.**

- mall_customers.csv
- ocjene.csv

In [31]:
mall_customers_df = pd.read_csv('../Data/Vjezbe_Primjeri/mall_customers.csv')
mall_customers_df

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [32]:
mall_customers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Gender                  200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

In [33]:
mall_customers_df['Gender'] = mall_customers_df['Gender'].str.strip()

In [34]:
mall_customers_df.columns = ['CustomerID', 'Gender', 'Age', 'Annual_Income', 'Spending_Score']
mall_customers_df

     CustomerID  Gender  Age  Annual_Income  Spending_Score
0             1    Male   19             15              39
1             2    Male   21             15              81
2             3  Female   20             16               6
3             4  Female   23             16              77
4             5  Female   31             17              40
..          ...     ...  ...            ...             ...
195         196  Female   35            120              79
196         197  Female   45            126              28
197         198    Male   32            126              74
198         199    Male   32            137              18
199         200    Male   30            137              83

[200 rows x 5 columns]

In [35]:
mall_customers_df['Annual_Income'] = mall_customers_df['Annual_Income'].astype('float')

mall_customers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CustomerID      200 non-null    int64
 1   Gender          200 non-null    object
 2   Age             200 non-null    int64
 3   Annual_Income   200 non-null    float64
 4   Spending_Score  200 non-null    int64
dtypes: float64(1), int64(3), object(1)
memory usage: 7.9+ KB

In [36]:
mall_customers_df

     CustomerID  Gender  Age  Annual_Income  Spending_Score
0             1    Male   19           15.0              39
1             2    Male   21           15.0              81
2             3  Female   20           16.0               6
3             4  Female   23           16.0              77
4             5  Female   31           17.0              40
..          ...     ...  ...            ...             ...
195         196  Female   35          120.0              79
196         197  Female   45          126.0              28
197         198    Male   32          126.0              74
198         199    Male   32          137.0              18
199         200    Male   30          137.0              83

[200 rows x 5 columns]

In [37]:
ocjene_df = pd.read_csv('../Data/Vjezbe_Primjeri/ocjene.csv')
ocjene_df

,fname,lname,gender,age,exercise,hours,grade,address
0,Marcia,Pugh,female,17,3,10,82.4,"9253 Richardson Road, Matawan, NJ 07747"
1,Kadeem,Morrison,male,18,4,4,78.2,"33 Spring Dr., Taunton, MA 02780"
2,Nash,Powell,male,18,5,9,79.3,"41 Hill Avenue, Mentor, OH 44060"
3,Noelani,Wagner,female,14,2,7,83.2,"8839 Marshall St., Miami, FL 33125"
4,Noelani,Cherry,female,18,4,15,87.4,"8304 Charles Rd., Lewis Center, OH 43035"
...,...,...,...,...,...,...,...,...
1995,Cody,Shepherd,male,19,1,8,80.1,"982 West Street, Alexandria, VA 22304"
1996,Geraldine,Peterson,female,16,4,18,100.0,"78 Morris Street, East Northport, NY 11731"
1997,Mercedes,Leon,female,18,3,14,84.9,"30 Glenridge Rd., Bountiful, UT 84010"
1998,Lucius,Rowland,male,16,1,7,69.1,"342 West Meadowbrook Lane, Helena, MT 59601"
1999,Linus,Morris,male,19,4,10,79.6,"81 Homestead Drive, Voorhees, NJ 08043"

In [38]:
ocjene_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   fname     2000 non-null   object
 1   lname     2000 non-null   object
 2   gender    2000 non-null   object
 3   age       2000 non-null   int64
 4   exercise  2000 non-null   int64
 5   hours     2000 non-null   int64
 6   grade     2000 non-null   float64
 7   address   2000 non-null   object
dtypes: float64(1), int64(3), object(4)
memory usage: 125.1+ KB

In [39]:
ocjene_df['fname'] = ocjene_df['fname'].str.strip()
ocjene_df['lname'] = ocjene_df['lname'].str.strip()
ocjene_df['gender'] = ocjene_df['gender'].str.strip()
ocjene_df['address'] = ocjene_df['address'].str.strip()

In [40]:
ocjene_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   fname     2000 non-null   object
 1   lname     2000 non-null   object
 2   gender    2000 non-null   object
 3   age       2000 non-null   int64
 4   exercise  2000 non-null   int64
 5   hours     2000 non-null   int64
 6   grade     2000 non-null   float64
 7   address   2000 non-null   object
dtypes: float64(1), int64(3), object(4)
memory usage: 125.1+ KB

In [41]:
ocjene_df

,fname,lname,gender,age,exercise,hours,grade,address
0,Marcia,Pugh,female,17,3,10,82.4,"9253 Richardson Road, Matawan, NJ 07747"
1,Kadeem,Morrison,male,18,4,4,78.2,"33 Spring Dr., Taunton, MA 02780"
2,Nash,Powell,male,18,5,9,79.3,"41 Hill Avenue, Mentor, OH 44060"
3,Noelani,Wagner,female,14,2,7,83.2,"8839 Marshall St., Miami, FL 33125"
4,Noelani,Cherry,female,18,4,15,87.4,"8304 Charles Rd., Lewis Center, OH 43035"
...,...,...,...,...,...,...,...,...
1995,Cody,Shepherd,male,19,1,8,80.1,"982 West Street, Alexandria, VA 22304"
1996,Geraldine,Peterson,female,16,4,18,100.0,"78 Morris Street, East Northport, NY 11731"
1997,Mercedes,Leon,female,18,3,14,84.9,"30 Glenridge Rd., Bountiful, UT 84010"
1998,Lucius,Rowland,male,16,1,7,69.1,"342 West Meadowbrook Lane, Helena, MT 59601"
1999,Linus,Morris,male,19,4,10,79.6,"81 Homestead Drive, Voorhees, NJ 08043"

Vjerujem da ste svi došli do ovoga rješenja rješavajući zadatak iz uvodnog dijela o Pandas biblioteci (osim dijela o popunjavanju praznih ćelija). Ako niste, nije problem, tijekom ovog ponavljanja trebali ste doći na dio koji ćemo koristiti u nastavku.

## Manipulacija podacima - traženje informacija u podacima

Sada kada smo naše podatke pripremili možemo se "igrati" podacima.

Na početku ćemo napraviti nekoliko koraka koji bi mogli biti uključeni u pripremu podataka, ali i manipulaciju podacima. U svakom slučaju, to su koraci koji mogu pomoći u procesu "traženja informacija u podacima".

Prvi takav korak je uklanjanje "viška" kolona. Često skupovi podataka imaju jako puno kolona pa se onda teško usredotočiti na neku skupinu kolona koje nam mogu dati tražene informacije. Osim toga, ponekad postoje kolone koje je sustav generirao tijekom prikupljanja podataka, ali isključivo kao potporu sustavu tijekom procesa prikpljanja podataka. Takve kolone ne predstavljaju nikakvu korist tijekom obrade podataka pa ih je onda korisno maknuti iz skupa podataka.

Metoda koju ćemo koristiti je *drop()* (detalji o metodi iz Pandas dokumentacije: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html?highlight=drop#pandas.DataFrame.drop).

Ova metoda može se koristiti za brisanje, ne samo kolona, nego i redaka. Prvi argument je lista naziva kolone ili kolona koje želimo izbrisati. Naziv argumenta je "labels". Uz ovaj argument,potrebno je navesti i osi (axis) unutar kojih želimo brisati podatke.

*Primjer: dataFrame.drop('naziv_kolone', axis=1).*

Iz gornjeg primjera, vidimo da će se izbrisati element čiji smo naziv proslijedili, a da radi se o koloni koju definira os 1 (axis=1).

Alternativu gornjem primjeru možemo dobiti korištenjem argumenta *columns=\['naziv_kolone', ...\] ili index=\['naziv_indeksa', ...\].*

**Obratite pažnju na to da indeksi NE moraju nužno biti numerički, nego mogu biti i drugačijih zapisa.**

In [42]:
abnb_ny_listings_df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,last_review_year,minimal_revenue
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.753560,-73.985590,Entire home/apt,150.0,30,48,2019-11-04,0.34,3,341,2019,4500.0
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Bedford-Stuyvesant,40.684940,-73.957650,Entire home/apt,75.0,1,408,2021-06-29,5.09,1,212,2021,75.0
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.685350,-73.955120,Private room,60.0,30,50,2016-06-05,0.55,1,365,2016,1800.0
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.662650,-73.994540,Entire home/apt,275.0,5,1,2014-01-02,0.01,1,184,2014,1375.0
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.764570,-73.983170,Private room,61.0,2,485,2021-07-18,3.63,1,255,2021,122.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36719,51447515,Gorgeous 2 Bedroom - in Prime Midtown East,51589519,Asi,Manhattan,Midtown,40.755787,-73.965126,Entire home/apt,255.0,31,0,1970-01-01,0.00,6,364,1970,7905.0
36720,51449962,"Charming UWS 1-bdrm, 1-office, 1/2 block to Ct...",2971741,Dina Marie,Manhattan,Upper West Side,40.787029,-73.969239,Entire home/apt,306.0,5,0,1970-01-01,0.00,1,16,1970,1530.0
36721,51450816,The Hunter IIII,61391963,Stay With Vibe,Manhattan,Upper East Side,40.768950,-73.960455,Entire home/apt,63.0,30,0,1970-01-01,0.00,96,334,1970,1890.0
36722,51451029,Rockaway Beach Surf Getaway,10123226,Chase,Queens,Arverne,40.599257,-73.797953,Private room,75.0,1,0,1970-01-01,0.00,1,87,1970,75.0
36723,51451368,Nyc apt in the middle in nyc,17770287,Nina,Manhattan,Murray Hill,40.748655,-73.981209,Entire home/apt,115.0,30,0,1970-01-01,0.00,11,364,1970,3450.0

In [43]:
abnb_ny_listings_df.drop(['latitude', 'longitude'], axis=1)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,last_review_year,minimal_revenue
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,Entire home/apt,150.0,30,48,2019-11-04,0.34,3,341,2019,4500.0
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Bedford-Stuyvesant,Entire home/apt,75.0,1,408,2021-06-29,5.09,1,212,2021,75.0
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,Private room,60.0,30,50,2016-06-05,0.55,1,365,2016,1800.0
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,Entire home/apt,275.0,5,1,2014-01-02,0.01,1,184,2014,1375.0
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,Private room,61.0,2,485,2021-07-18,3.63,1,255,2021,122.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36719,51447515,Gorgeous 2 Bedroom - in Prime Midtown East,51589519,Asi,Manhattan,Midtown,Entire home/apt,255.0,31,0,1970-01-01,0.00,6,364,1970,7905.0
36720,51449962,"Charming UWS 1-bdrm, 1-office, 1/2 block to Ct...",2971741,Dina Marie,Manhattan,Upper West Side,Entire home/apt,306.0,5,0,1970-01-01,0.00,1,16,1970,1530.0
36721,51450816,The Hunter IIII,61391963,Stay With Vibe,Manhattan,Upper East Side,Entire home/apt,63.0,30,0,1970-01-01,0.00,96,334,1970,1890.0
36722,51451029,Rockaway Beach Surf Getaway,10123226,Chase,Queens,Arverne,Private room,75.0,1,0,1970-01-01,0.00,1,87,1970,75.0
36723,51451368,Nyc apt in the middle in nyc,17770287,Nina,Manhattan,Murray Hill,Entire home/apt,115.0,30,0,1970-01-01,0.00,11,364,1970,3450.0

**VJEŽBA: uklonite kolone: *'id', 'name', 'host_id', 'host_name'***.

In [44]:
abnb_ny_listings_df.drop(['id', 'name', 'host_id', 'host_name'], axis=1)

,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,last_review_year,minimal_revenue
0,Manhattan,Midtown,40.753560,-73.985590,Entire home/apt,150.0,30,48,2019-11-04,0.34,3,341,2019,4500.0
1,Brooklyn,Bedford-Stuyvesant,40.684940,-73.957650,Entire home/apt,75.0,1,408,2021-06-29,5.09,1,212,2021,75.0
2,Brooklyn,Bedford-Stuyvesant,40.685350,-73.955120,Private room,60.0,30,50,2016-06-05,0.55,1,365,2016,1800.0
3,Brooklyn,Sunset Park,40.662650,-73.994540,Entire home/apt,275.0,5,1,2014-01-02,0.01,1,184,2014,1375.0
4,Manhattan,Midtown,40.764570,-73.983170,Private room,61.0,2,485,2021-07-18,3.63,1,255,2021,122.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36719,Manhattan,Midtown,40.755787,-73.965126,Entire home/apt,255.0,31,0,1970-01-01,0.00,6,364,1970,7905.0
36720,Manhattan,Upper West Side,40.787029,-73.969239,Entire home/apt,306.0,5,0,1970-01-01,0.00,1,16,1970,1530.0
36721,Manhattan,Upper East Side,40.768950,-73.960455,Entire home/apt,63.0,30,0,1970-01-01,0.00,96,334,1970,1890.0
36722,Queens,Arverne,40.599257,-73.797953,Private room,75.0,1,0,1970-01-01,0.00,1,87,1970,75.0
36723,Manhattan,Murray Hill,40.748655,-73.981209,Entire home/apt,115.0,30,0,1970-01-01,0.00,11,364,1970,3450.0

In [45]:
abnb_ny_listings_df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,last_review_year,minimal_revenue
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.753560,-73.985590,Entire home/apt,150.0,30,48,2019-11-04,0.34,3,341,2019,4500.0
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Bedford-Stuyvesant,40.684940,-73.957650,Entire home/apt,75.0,1,408,2021-06-29,5.09,1,212,2021,75.0
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.685350,-73.955120,Private room,60.0,30,50,2016-06-05,0.55,1,365,2016,1800.0
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.662650,-73.994540,Entire home/apt,275.0,5,1,2014-01-02,0.01,1,184,2014,1375.0
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.764570,-73.983170,Private room,61.0,2,485,2021-07-18,3.63,1,255,2021,122.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36719,51447515,Gorgeous 2 Bedroom - in Prime Midtown East,51589519,Asi,Manhattan,Midtown,40.755787,-73.965126,Entire home/apt,255.0,31,0,1970-01-01,0.00,6,364,1970,7905.0
36720,51449962,"Charming UWS 1-bdrm, 1-office, 1/2 block to Ct...",2971741,Dina Marie,Manhattan,Upper West Side,40.787029,-73.969239,Entire home/apt,306.0,5,0,1970-01-01,0.00,1,16,1970,1530.0
36721,51450816,The Hunter IIII,61391963,Stay With Vibe,Manhattan,Upper East Side,40.768950,-73.960455,Entire home/apt,63.0,30,0,1970-01-01,0.00,96,334,1970,1890.0
36722,51451029,Rockaway Beach Surf Getaway,10123226,Chase,Queens,Arverne,40.599257,-73.797953,Private room,75.0,1,0,1970-01-01,0.00,1,87,1970,75.0
36723,51451368,Nyc apt in the middle in nyc,17770287,Nina,Manhattan,Murray Hill,40.748655,-73.981209,Entire home/apt,115.0,30,0,1970-01-01,0.00,11,364,1970,3450.0

**PITANJE **<br>
**U tablici opet imamo kolone 'latitude', 'longitude'. To su kolone koje smo maknuli.  Kako ćemo to riješiti?**

ODGOVOR: koristit ćemo *Argument inplace - bool, default False -> inplace=True.*

Maknimo "trajno" kolone.

In [46]:
abnb_ny_listings_df.drop(['id', 'name', 'host_id', 'host_name', 'latitude', 'longitude'], axis=1, inplace=True)

Provjerimo jesmo li sada uklonili željene kolone.

In [47]:
abnb_ny_listings_df.columns

Index(['neighbourhood_group', 'neighbourhood', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'last_review_year', 'minimal_revenue'],
      dtype='object')

In [48]:
abnb_ny_listings_df

,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,last_review_year,minimal_revenue
0,Manhattan,Midtown,Entire home/apt,150.0,30,48,2019-11-04,0.34,3,341,2019,4500.0
1,Brooklyn,Bedford-Stuyvesant,Entire home/apt,75.0,1,408,2021-06-29,5.09,1,212,2021,75.0
2,Brooklyn,Bedford-Stuyvesant,Private room,60.0,30,50,2016-06-05,0.55,1,365,2016,1800.0
3,Brooklyn,Sunset Park,Entire home/apt,275.0,5,1,2014-01-02,0.01,1,184,2014,1375.0
4,Manhattan,Midtown,Private room,61.0,2,485,2021-07-18,3.63,1,255,2021,122.0
...,...,...,...,...,...,...,...,...,...,...,...,...
36719,Manhattan,Midtown,Entire home/apt,255.0,31,0,1970-01-01,0.00,6,364,1970,7905.0
36720,Manhattan,Upper West Side,Entire home/apt,306.0,5,0,1970-01-01,0.00,1,16,1970,1530.0
36721,Manhattan,Upper East Side,Entire home/apt,63.0,30,0,1970-01-01,0.00,96,334,1970,1890.0
36722,Queens,Arverne,Private room,75.0,1,0,1970-01-01,0.00,1,87,1970,75.0
36723,Manhattan,Murray Hill,Entire home/apt,115.0,30,0,1970-01-01,0.00,11,364,1970,3450.0

**Promjena naziva kolona**

Ako dohvatimo listu kolona unutar skupa podataka "ocjene_df" (*ocjene_df.columns*) dobit ćemo ovaj rezultat: *Index(\['fname', 'lname', 'gender', 'age', 'exercise', 'hours', 'grade', 'address'\], dtype='object')*.

- 'fname' - predstavlja ime učenika/ce
- 'lname' - predstavlja prezime učenika/ce
- 'gender' - predstavlja spol učenika/ce
- 'age' - predstavlja dob učenika/ce
- 'exercise' - predstavlja tjedni broj sati vježbanja učenika/ce
- 'hours' - predstavlja tjedni broj sati učenja učenika/ce
- 'grade'- predstavlja ocjenu učenika/ce
- 'address'- predstavlja adresu učenika/ce

Za ovaj skup podataka počeli smo koristiti hrvatske nazive pa prevedimo onda i nazive kolona u skladu s gore navedenim opisima.

Promjenu naziva kolone možemo napraviti na više načina.

**Način 1.**

Pomoću atributa columns koji ima svaki *DataFrame* objekt. Jednostavno u listu kolona navedemo nove vrijednosti i to je to:
*ocjene_df.columns = \['Ime', 'Prezime', 'Spol', 'Dob', 'Sati_Tjednog_Vjezbanja', 'Sati_Tjednog_Ucenja', 'Ocjena', 'Puna_Adresa'\].*

**Način 2.**

Pomoću atributa columns i Python liste.

*Korak 1.*<br>
Kreirajmo listu od naziva kolona.<br>
*kolone = list(ocjene_df.columns.values)*

*Korak 2.*<br>
Unesemo željene izmjene.<br>
*kolone\[0\] = 'Ime'*<br>
*kolone\[1\] = 'Prezime'*<br>
*kolone\[2\] = 'Spol'*<br>
*kolone\[3\] = 'Dob'*<br>
*kolone\[4\] = 'Sati_Tjednog_Vjezbanja'*<br>
*kolone\[5\] = 'Sati_Tjednog_Ucenja'*<br>
*kolone\[6\] = 'Ocjena'*<br>
*kolone\[7\] = 'Puna_Adresa'*

*Korak 3.*<br>
Pridružimo vrijednost liste kolekciji kolona skupa podataka.<br>
*ocjene_df.columns = kolone*

**Način 3.**

Pomoću metode *rename()*.
ocjene_df.rename(<br>
&nbsp;&nbsp;&nbsp;&nbsp;columns={<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'fname': 'Ime',<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'lname': 'Prezime',<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'gender': 'Spol',<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'age': 'Dob',<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'exercise': 'Sati_Tjednog_Vjezbanja',<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'hours': 'Sati_Tjednog_Ucenja',<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'grade': 'Ocjena',<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'address': 'Puna_Adresa'<br>
&nbsp;&nbsp;&nbsp;&nbsp;}<br>
)<br>

**Zadatak**<br>
**Napravite izmjene pomoću Načina 3. na skupu podataka *ocjene_df.***

**Provjerite nazive kolona za preostala dva skupa podataka te ako mislite da je potrebno, predložite nove nazive kolona.**

In [49]:
ocjene_df

,fname,lname,gender,age,exercise,hours,grade,address
0,Marcia,Pugh,female,17,3,10,82.4,"9253 Richardson Road, Matawan, NJ 07747"
1,Kadeem,Morrison,male,18,4,4,78.2,"33 Spring Dr., Taunton, MA 02780"
2,Nash,Powell,male,18,5,9,79.3,"41 Hill Avenue, Mentor, OH 44060"
3,Noelani,Wagner,female,14,2,7,83.2,"8839 Marshall St., Miami, FL 33125"
4,Noelani,Cherry,female,18,4,15,87.4,"8304 Charles Rd., Lewis Center, OH 43035"
...,...,...,...,...,...,...,...,...
1995,Cody,Shepherd,male,19,1,8,80.1,"982 West Street, Alexandria, VA 22304"
1996,Geraldine,Peterson,female,16,4,18,100.0,"78 Morris Street, East Northport, NY 11731"
1997,Mercedes,Leon,female,18,3,14,84.9,"30 Glenridge Rd., Bountiful, UT 84010"
1998,Lucius,Rowland,male,16,1,7,69.1,"342 West Meadowbrook Lane, Helena, MT 59601"
1999,Linus,Morris,male,19,4,10,79.6,"81 Homestead Drive, Voorhees, NJ 08043"

In [50]:
ocjene_df.columns = ['Ime', 'Perzime', 'Spol', 'Dob', 'Sati_Tjednog_Vjezbanja', 'Sati_Tjednog_Ucenja', 'Ocjena', 'Adresa']
ocjene_df

,Ime,Perzime,Spol,Dob,Sati_Tjednog_Vjezbanja,Sati_Tjednog_Ucenja,Ocjena,Adresa
0,Marcia,Pugh,female,17,3,10,82.4,"9253 Richardson Road, Matawan, NJ 07747"
1,Kadeem,Morrison,male,18,4,4,78.2,"33 Spring Dr., Taunton, MA 02780"
2,Nash,Powell,male,18,5,9,79.3,"41 Hill Avenue, Mentor, OH 44060"
3,Noelani,Wagner,female,14,2,7,83.2,"8839 Marshall St., Miami, FL 33125"
4,Noelani,Cherry,female,18,4,15,87.4,"8304 Charles Rd., Lewis Center, OH 43035"
...,...,...,...,...,...,...,...,...
1995,Cody,Shepherd,male,19,1,8,80.1,"982 West Street, Alexandria, VA 22304"
1996,Geraldine,Peterson,female,16,4,18,100.0,"78 Morris Street, East Northport, NY 11731"
1997,Mercedes,Leon,female,18,3,14,84.9,"30 Glenridge Rd., Bountiful, UT 84010"
1998,Lucius,Rowland,male,16,1,7,69.1,"342 West Meadowbrook Lane, Helena, MT 59601"
1999,Linus,Morris,male,19,4,10,79.6,"81 Homestead Drive, Voorhees, NJ 08043"

Ponekad trebamo dodatno prilagoditi tekst naziva kolona tako što će nam trebati sva mala ili sva velika slova u nazivu kolona. Jedan od primjera je potreba za kreiranjem mape za svaku kolonu pa je za Linux OS prikladno koristiti sva mala slova.

Znamo da su kolone unutar DataFrame objekta grupirane unutar liste pa iskoristimo Python za prolazak kroz svaki element liste i primjenimo odgovarajuću metodu nad tekstom naziva kolone.

**Način 1.**

Pomoću Python *map()* funkcije<br>
*ocjene_df.columns = map(str.lower, ocjene_df.columns)*

**Način 2.**
Pomoću Python *for* petlje.<br>
*ocjene_df.columns = \[x.lower() for x in ocjene_df.columns\]*

In [51]:
# ocjene_df.columns = map(str.lower, ocjene_df.columns)
ocjene_df.columns = [column.lower() for column in ocjene_df.columns]

ocjene_df

,ime,perzime,spol,dob,sati_tjednog_vjezbanja,sati_tjednog_ucenja,ocjena,adresa
0,Marcia,Pugh,female,17,3,10,82.4,"9253 Richardson Road, Matawan, NJ 07747"
1,Kadeem,Morrison,male,18,4,4,78.2,"33 Spring Dr., Taunton, MA 02780"
2,Nash,Powell,male,18,5,9,79.3,"41 Hill Avenue, Mentor, OH 44060"
3,Noelani,Wagner,female,14,2,7,83.2,"8839 Marshall St., Miami, FL 33125"
4,Noelani,Cherry,female,18,4,15,87.4,"8304 Charles Rd., Lewis Center, OH 43035"
...,...,...,...,...,...,...,...,...
1995,Cody,Shepherd,male,19,1,8,80.1,"982 West Street, Alexandria, VA 22304"
1996,Geraldine,Peterson,female,16,4,18,100.0,"78 Morris Street, East Northport, NY 11731"
1997,Mercedes,Leon,female,18,3,14,84.9,"30 Glenridge Rd., Bountiful, UT 84010"
1998,Lucius,Rowland,male,16,1,7,69.1,"342 West Meadowbrook Lane, Helena, MT 59601"
1999,Linus,Morris,male,19,4,10,79.6,"81 Homestead Drive, Voorhees, NJ 08043"

**Zadatak**<br>
**Napravite izmjene pomoću Načina 2. na skupu podataka *ocjene_df.***

**Na preostala dva skupa podataka prebacite nazive kolona u velika slova.**

In [52]:
mall_customers_df.columns = map(str.lower, mall_customers_df.columns)
mall_customers_df

     customerid  gender  age  annual_income  spending_score
0             1    Male   19           15.0              39
1             2    Male   21           15.0              81
2             3  Female   20           16.0               6
3             4  Female   23           16.0              77
4             5  Female   31           17.0              40
..          ...     ...  ...            ...             ...
195         196  Female   35          120.0              79
196         197  Female   45          126.0              28
197         198    Male   32          126.0              74
198         199    Male   32          137.0              18
199         200    Male   30          137.0              83

[200 rows x 5 columns]

**Filtriranje podataka**

Ponekad želimo izdvojiti ili dohvatiti određene podatke iz grupe. Ovisno o cilju, najčešće ćemo definirati neke uvjete. Kao i do sada, ovo možemo napraviti na više načina.

Započnimo korištenjem *str.contains()* metodom. Dohvatimo sve podatke o nekretninama iz Manhattana. Prvo ćemo provjeriti ima li bilo koji podatak koji zadovoljava ovaj uvjet:

In [53]:
abnb_ny_listings_df

,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,last_review_year,minimal_revenue
0,Manhattan,Midtown,Entire home/apt,150.0,30,48,2019-11-04,0.34,3,341,2019,4500.0
1,Brooklyn,Bedford-Stuyvesant,Entire home/apt,75.0,1,408,2021-06-29,5.09,1,212,2021,75.0
2,Brooklyn,Bedford-Stuyvesant,Private room,60.0,30,50,2016-06-05,0.55,1,365,2016,1800.0
3,Brooklyn,Sunset Park,Entire home/apt,275.0,5,1,2014-01-02,0.01,1,184,2014,1375.0
4,Manhattan,Midtown,Private room,61.0,2,485,2021-07-18,3.63,1,255,2021,122.0
...,...,...,...,...,...,...,...,...,...,...,...,...
36719,Manhattan,Midtown,Entire home/apt,255.0,31,0,1970-01-01,0.00,6,364,1970,7905.0
36720,Manhattan,Upper West Side,Entire home/apt,306.0,5,0,1970-01-01,0.00,1,16,1970,1530.0
36721,Manhattan,Upper East Side,Entire home/apt,63.0,30,0,1970-01-01,0.00,96,334,1970,1890.0
36722,Queens,Arverne,Private room,75.0,1,0,1970-01-01,0.00,1,87,1970,75.0
36723,Manhattan,Murray Hill,Entire home/apt,115.0,30,0,1970-01-01,0.00,11,364,1970,3450.0

In [54]:
abnb_ny_listings_df['neighbourhood_group'].str.contains('Manhattan').any()

True

Rezultat je *True*, dakle postoje takvi podaci u skupu podataka. Provjerimo jesu li svi podaci s ovim uvjetom.

In [55]:
abnb_ny_listings_df['neighbourhood_group'].str.contains('Manhattan').all()

False

Za ovaj skup podataka je očekivano, ali je ponekad korisno provjeriti jer ako svi podaci zadovoljavaju određeni uvjet, onda nema potrebe za filtriranjem. Probajmo dohvatiti u kojim redovima su podaci koji ispunjavaju traženi uvjet.

In [56]:
abnb_ny_listings_df['neighbourhood_group'].str.contains('Manhattan')

0         True
1        False
2        False
3        False
4         True
         ...
36719     True
36720     True
36721     True
36722    False
36723     True
Name: neighbourhood_group, Length: 36724, dtype: bool

Dobili smo samo podatak ispunjava li redak uvjet ili ne. Međutim, za dohvat svih podataka u retku, trebamo se koristiti svojstvom *loc\[\]* koje kao argument prima listu Boolean vrijednosti. Napravimo to, a kao vrijednost argumenta  predat ćemo gornju liniju koda te dodati uvjet da je jednako *True*, kako nam ne bi vratio sve.

In [57]:
# abnb_ny_listings_df[abnb_ny_listings_df['neighbourhood_group'].str.contains('Manhattan') == True]
abnb_ny_listings_df.loc[abnb_ny_listings_df['neighbourhood_group'].str.contains('Manhattan') == True]

,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,last_review_year,minimal_revenue
0,Manhattan,Midtown,Entire home/apt,150.0,30,48,2019-11-04,0.34,3,341,2019,4500.0
4,Manhattan,Midtown,Private room,61.0,2,485,2021-07-18,3.63,1,255,2021,122.0
5,Manhattan,Upper West Side,Private room,75.0,2,118,2017-07-12,0.90,1,0,2017,150.0
8,Manhattan,East Harlem,Private room,65.0,30,0,1970-01-01,0.00,2,365,1970,1950.0
9,Manhattan,East Harlem,Private room,62.0,30,234,2021-07-04,1.88,1,258,2021,1860.0
...,...,...,...,...,...,...,...,...,...,...,...,...
36718,Manhattan,Upper East Side,Entire home/apt,125.0,30,0,1970-01-01,0.00,96,335,1970,3750.0
36719,Manhattan,Midtown,Entire home/apt,255.0,31,0,1970-01-01,0.00,6,364,1970,7905.0
36720,Manhattan,Upper West Side,Entire home/apt,306.0,5,0,1970-01-01,0.00,1,16,1970,1530.0
36721,Manhattan,Upper East Side,Entire home/apt,63.0,30,0,1970-01-01,0.00,96,334,1970,1890.0
36723,Manhattan,Murray Hill,Entire home/apt,115.0,30,0,1970-01-01,0.00,11,364,1970,3450.0

**Zadatak**<br>
**Iz skupa podataka o ocjenama, prikažite samo retke učenika s ocjenama većim od 70.
Dodajte filter i po spolu.**<br>
**VAŽNO: koristit ćemo znakove za logičke operacije iz C programskog jezika:**
- **& - and**
- **| - or.**

In [58]:
ocjene_df

,ime,perzime,spol,dob,sati_tjednog_vjezbanja,sati_tjednog_ucenja,ocjena,adresa
0,Marcia,Pugh,female,17,3,10,82.4,"9253 Richardson Road, Matawan, NJ 07747"
1,Kadeem,Morrison,male,18,4,4,78.2,"33 Spring Dr., Taunton, MA 02780"
2,Nash,Powell,male,18,5,9,79.3,"41 Hill Avenue, Mentor, OH 44060"
3,Noelani,Wagner,female,14,2,7,83.2,"8839 Marshall St., Miami, FL 33125"
4,Noelani,Cherry,female,18,4,15,87.4,"8304 Charles Rd., Lewis Center, OH 43035"
...,...,...,...,...,...,...,...,...
1995,Cody,Shepherd,male,19,1,8,80.1,"982 West Street, Alexandria, VA 22304"
1996,Geraldine,Peterson,female,16,4,18,100.0,"78 Morris Street, East Northport, NY 11731"
1997,Mercedes,Leon,female,18,3,14,84.9,"30 Glenridge Rd., Bountiful, UT 84010"
1998,Lucius,Rowland,male,16,1,7,69.1,"342 West Meadowbrook Lane, Helena, MT 59601"
1999,Linus,Morris,male,19,4,10,79.6,"81 Homestead Drive, Voorhees, NJ 08043"

In [59]:
# ocjene_df.loc[ocjene_df['ocjena'] > 70 & ocjene_df['spol'] == 'female'] - ne radi ako uvjeti nisu u zagradama
ocjene_df.loc[(ocjene_df['ocjena'] > 70) & (ocjene_df['spol'] == 'female')]

,ime,perzime,spol,dob,sati_tjednog_vjezbanja,sati_tjednog_ucenja,ocjena,adresa
0,Marcia,Pugh,female,17,3,10,82.4,"9253 Richardson Road, Matawan, NJ 07747"
3,Noelani,Wagner,female,14,2,7,83.2,"8839 Marshall St., Miami, FL 33125"
4,Noelani,Cherry,female,18,4,15,87.4,"8304 Charles Rd., Lewis Center, OH 43035"
6,Nelle,Golden,female,17,1,9,80.2,"9768 Hanover Dr., Meadville, PA 16335"
8,Illiana,Rojas,female,15,5,9,76.5,"9425 Studebaker Dr., Thibodaux, LA 70301"
...,...,...,...,...,...,...,...,...
1990,Adena,Battle,female,17,2,8,70.2,"9272 Elizabeth Drive, Londonderry, NH 03053"
1992,Isabelle,Barber,female,14,5,9,78.5,"955 Glen Ridge Rd., Plattsburgh, NY 12901"
1993,Risa,Watson,female,14,2,10,74.3,"37 Augusta Lane, Montgomery Village, MD 20886"
1996,Geraldine,Peterson,female,16,4,18,100.0,"78 Morris Street, East Northport, NY 11731"
1997,Mercedes,Leon,female,18,3,14,84.9,"30 Glenridge Rd., Bountiful, UT 84010"

**Statistička obrada podataka**

Prošli smo filtriranje podataka i prije nego se upoznamo s grupiranjem, upoznajmo se sa statističkom obradom podataka. Statistika će nam pomoći da se još bolje upoznamo s našim podacima.

Za početak provjerimo najčešće korištene statističke vrijednosti:
- minimalna vrijednost (*min*)
- maksimalna vrijednost (*max*)
- raspon (*max - min*)
- srednja vrijednosti (*mean*)
- medijan (*median*) - vrijednost koja se nalazi u sredini nakon što podatke poredamo po veličini
- standardna devijacija (*std*)
- ukupan broj vrijednosti (*count*) na kolonama koje su nam najzanimljivije za ove podatke.

Za skup podataka o nekretninama to su kolone:
- *price*
- *minimum_nights*
- *number_of_reviews*
- *last_review*
- *reviews_per_month*
- *availability_365*
- *last_review_year*
- *minimal_revenue*

*INFORMACIJA: kada budemo koristili vizualizaciju podataka, onda ćemo ove vrijednosti prikazati grafički pa će biti puno lakše uočiti neke granične vrijednosti.*

In [70]:
print('CIJENE')
print()
print(50 * '*')
print(f'{"Minimalna cijena:":<35}{round(abnb_ny_listings_df["price"].min(), 2):>10} USD')
print(f'{"Maksimalna cijena:":<35}{round(abnb_ny_listings_df["price"].max(), 2):>10} USD')
print(f'{"Raspon cijena:":<35}{round((abnb_ny_listings_df["price"].max() - abnb_ny_listings_df["price"].min()), 2):>10} USD')
print(f'{"Srednja vrijednost cijena:":<35}{round(abnb_ny_listings_df["price"].mean(), 2):>10} USD')
print(f'{"Medijan cijena:":<35}{round(abnb_ny_listings_df["price"].median(), 2):>10} USD')
print(f'{"Standardna devijacina cijena:":<35}{round(abnb_ny_listings_df["price"].std(), 2):>10} USD')
print(f'{"Ukupan broj zapisa:":<35}{round(abnb_ny_listings_df["price"].count(), 2):>10} USD')
print(50 * '*')
print()

CIJENE

**************************************************
Minimalna cijena:                         0.0 USD
Maksimalna cijena:                    10000.0 USD
Raspon cijena:                        10000.0 USD
Srednja vrijednost cijena:             160.11 USD
Medijan cijena:                         108.0 USD
Standardna devijacina cijena:          293.89 USD
Ukupan broj zapisa:                     36724 USD
**************************************************

**VJEŽBA**<br>
**Dovršite analizu za preostale kolone.**

In [77]:
print('Minimalni broj nocenja')
print()
print(55 * '*')
print(f'{"Minimalni broj noci najma:":<45}{round(abnb_ny_listings_df["minimum_nights"].min(), 2):>10}')
print(f'{"Maksimalna broj noci najma:":<45}{round(abnb_ny_listings_df["minimum_nights"].max(), 2):>10}')
print(f'{"Raspon broja noci najma:":<45}{round((abnb_ny_listings_df["minimum_nights"].max() - abnb_ny_listings_df["minimum_nights"].min()), 2):>10}')
print(f'{"Srednja vrijednost broja noci najma:":<45}{round(abnb_ny_listings_df["minimum_nights"].mean(), 2):>10}')
print(f'{"Medijan broja noci najma:":<45}{round(abnb_ny_listings_df["minimum_nights"].median(), 2):>10}')
print(f'{"Standardna devijacina broja noci najma:":<45}{round(abnb_ny_listings_df["minimum_nights"].std(), 2):>10}')
print(f'{"Ukupan broj zapisa noci najma:":<45}{round(abnb_ny_listings_df["minimum_nights"].count(), 2):>10}')
print(55 * '*')
print()

print('MINIMALNA DOBIT')
print()
print(70 * '*')
print(f'{"Minimalni iznos minimalne dobiti:":<55}{round(abnb_ny_listings_df["price"].min(), 2):>10} USD')
print(f'{"Maksimalni iznos minimalne dobiti:":<55}{round(abnb_ny_listings_df["price"].max(), 2):>10} USD')
print(f'{"Raspon iznoss minimalne dobiti:":<55}{round((abnb_ny_listings_df["price"].max() - abnb_ny_listings_df["price"].min()), 2):>10} USD')
print(f'{"Srednja vrijednost iznosa minimalne dobiti:":<55}{round(abnb_ny_listings_df["price"].mean(), 2):>10} USD')
print(f'{"Medijan iznosa minimalne dobiti:":<55}{round(abnb_ny_listings_df["price"].median(), 2):>10} USD')
print(f'{"Standardna devijacina iznosa minimalne dobiti:":<55}{round(abnb_ny_listings_df["price"].std(), 2):>10} USD')
print(f'{"Ukupan broj zapisa:":<55}{round(abnb_ny_listings_df["price"].count(), 2):>10} USD')
print(70 * '*')
print()

Minimalni broj nocenja

*******************************************************
Minimalni broj noci najma:                            1
Maksimalna broj noci najma:                        1250
Raspon broja noci najma:                           1249
Srednja vrijednost broja noci najma:              22.48
Medijan broja noci najma:                          30.0
Standardna devijacina broja noci najma:           28.36
Ukupan broj zapisa noci najma:                    36724
*******************************************************

MINIMALNA DOBIT

**********************************************************************
Minimalni iznos minimalne dobiti:                             0.0 USD
Maksimalni iznos minimalne dobiti:                        10000.0 USD
Raspon iznoss minimalne dobiti:                           10000.0 USD
Srednja vrijednost iznosa minimalne dobiti:                160.11 USD
Medijan iznosa minimalne dobiti:                            108.0 USD
Standardna devijacina iznosa minimalne dobiti:             293.89 USD
Ukupan broj zapisa:                                         36724 USD
**********************************************************************

Srećom, Pandas ima ugrađenu funkciju *describe()* koja objedinjuje većinu gore navedene statističke vrijednosti.

In [78]:
abnb_ny_listings_df.describe()

,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,last_review_year,minimal_revenue
count,36724.000000,36724.000000,36724.000000,36724,36724.000000,36724.000000,36724.000000,36724.000000,3.672400e+04
mean,160.109057,22.482083,22.854836,2007-02-11 08:02:25.082235136,1.022812,13.432306,122.570608,2006.736603,3.562474e+03
min,0.000000,1.000000,0.000000,1970-01-01 00:00:00,0.000000,1.000000,0.000000,1970.000000,0.000000e+00
25%,67.000000,3.000000,0.000000,1970-01-01 00:00:00,0.000000,1.000000,0.000000,1970.000000,4.600000e+02
50%,108.000000,30.000000,4.000000,2019-08-31 00:00:00,0.170000,1.000000,57.000000,2019.000000,1.860000e+03
75%,175.000000,30.000000,19.000000,2021-05-17 00:00:00,0.990000,3.000000,259.000000,2021.000000,3.900000e+03
max,10000.000000,1250.000000,998.000000,2021-08-04 00:00:00,192.930000,335.000000,365.000000,2021.000000,1.170000e+06
std,293.888431,28.361534,49.188479,NaN,3.374019,46.293004,138.765815,21.629742,1.374511e+04

Možemo dodati i argument *include='all'* koji uključuje sve dostupne izračune.

In [79]:
abnb_ny_listings_df.describe(include='all')

,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,last_review_year,minimal_revenue
count,36724,36724,36724,36724.000000,36724.000000,36724.000000,36724,36724.000000,36724.000000,36724.000000,36724.000000,3.672400e+04
unique,5,223,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Manhattan,Bedford-Stuyvesant,Entire home/apt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,16105,2690,19484,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,160.109057,22.482083,22.854836,2007-02-11 08:02:25.082235136,1.022812,13.432306,122.570608,2006.736603,3.562474e+03
min,NaN,NaN,NaN,0.000000,1.000000,0.000000,1970-01-01 00:00:00,0.000000,1.000000,0.000000,1970.000000,0.000000e+00
25%,NaN,NaN,NaN,67.000000,3.000000,0.000000,1970-01-01 00:00:00,0.000000,1.000000,0.000000,1970.000000,4.600000e+02
50%,NaN,NaN,NaN,108.000000,30.000000,4.000000,2019-08-31 00:00:00,0.170000,1.000000,57.000000,2019.000000,1.860000e+03
75%,NaN,NaN,NaN,175.000000,30.000000,19.000000,2021-05-17 00:00:00,0.990000,3.000000,259.000000,2021.000000,3.900000e+03
max,NaN,NaN,NaN,10000.000000,1250.000000,998.000000,2021-08-04 00:00:00,192.930000,335.000000,365.000000,2021.000000,1.170000e+06
std,NaN,NaN,NaN,293.888431,28.361534,49.188479,NaN,3.374019,46.293004,138.765815,21.629742,1.374511e+04

*INFORMACIJA: dodajte traženi argument.*

Gore navedeni statistički izračuni vrijede za sve kolone ili za sve retke unutar neke kolone (serije). Primjenimo stečeno znanje o statističkim izračunima na ono što smo već naučili o filtriranju podataka.

In [88]:
abnb_ny_listings_df.loc[abnb_ny_listings_df['price'] > 2600].describe()

,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,last_review_year,minimal_revenue
count,55.000000,55.000000,55.000000,55,55.000000,55.000000,55.000000,55.000000,5.500000e+01
mean,5703.890909,28.727273,5.800000,1993-03-13 14:24:00,0.281818,2.400000,169.345455,1992.981818,1.776821e+05
min,2614.000000,1.000000,0.000000,1970-01-01 00:00:00,0.000000,1.000000,0.000000,1970.000000,2.614000e+03
25%,3000.000000,3.500000,0.000000,1970-01-01 00:00:00,0.000000,1.000000,0.000000,1970.000000,1.453400e+04
50%,5000.000000,30.000000,0.000000,1970-01-01 00:00:00,0.000000,1.000000,153.000000,1970.000000,1.170000e+05
75%,9495.000000,30.000000,7.000000,2019-08-25 12:00:00,0.160000,3.000000,358.500000,2019.000000,2.938500e+05
max,10000.000000,180.000000,49.000000,2021-07-05 00:00:00,4.330000,11.000000,365.000000,2021.000000,1.170000e+06
std,2900.685907,30.668149,11.156131,NaN,0.747101,2.725735,148.303270,24.536814,2.099424e+05

**Sortiranje i grupiranje podataka**

Često podatke trebamo sortirati po veličini, od najmanje prema najvećoj ili obrnuto. To radimo pomoću metode *sort_values()* koja ima dva najvažnija parametra:
- *by* - listu kolona koje želimo sortirati i
- *ascending* - koji određuje je li sortiranje od manje prema većoj vrijednosti ili obrnuto.

In [91]:
ocjene_df

,ime,perzime,spol,dob,sati_tjednog_vjezbanja,sati_tjednog_ucenja,ocjena,adresa
0,Marcia,Pugh,female,17,3,10,82.4,"9253 Richardson Road, Matawan, NJ 07747"
1,Kadeem,Morrison,male,18,4,4,78.2,"33 Spring Dr., Taunton, MA 02780"
2,Nash,Powell,male,18,5,9,79.3,"41 Hill Avenue, Mentor, OH 44060"
3,Noelani,Wagner,female,14,2,7,83.2,"8839 Marshall St., Miami, FL 33125"
4,Noelani,Cherry,female,18,4,15,87.4,"8304 Charles Rd., Lewis Center, OH 43035"
...,...,...,...,...,...,...,...,...
1995,Cody,Shepherd,male,19,1,8,80.1,"982 West Street, Alexandria, VA 22304"
1996,Geraldine,Peterson,female,16,4,18,100.0,"78 Morris Street, East Northport, NY 11731"
1997,Mercedes,Leon,female,18,3,14,84.9,"30 Glenridge Rd., Bountiful, UT 84010"
1998,Lucius,Rowland,male,16,1,7,69.1,"342 West Meadowbrook Lane, Helena, MT 59601"
1999,Linus,Morris,male,19,4,10,79.6,"81 Homestead Drive, Voorhees, NJ 08043"

In [97]:
ocjene_df.sort_values(by=['sati_tjednog_ucenja'])

,ime,perzime,spol,dob,sati_tjednog_vjezbanja,sati_tjednog_ucenja,ocjena,adresa
1611,Garrett,Everett,male,17,2,0,78.1,"7963 South Thorne Drive, Sterling, VA 20164"
1213,Arthur,Nieves,male,14,3,0,76.8,"377 Beech Street, Chesterfield, VA 23832"
356,Luke,Santana,male,17,1,0,75.0,"2 Sunbeam Dr., Zionsville, IN 46077"
80,Hoyt,Lyons,male,16,5,1,71.3,"720 Linden Street, Springfield Gardens, NY 11413"
1507,Ferris,Avila,male,18,5,1,74.2,"85 Brown Drive, Pensacola, FL 32503"
...,...,...,...,...,...,...,...,...
690,Sylvester,Payne,male,17,5,20,100.0,"242 Goldfield Ave., Encino, CA 91316"
954,Athena,Harvey,female,19,5,20,100.0,"137 Cedar Swamp Street, Laurel, MD 20707"
1650,Denise,Sloan,female,18,4,20,100.0,"36 Bowman Dr., Fort Dodge, IA 50501"
32,Georgia,Munoz,female,14,5,20,99.0,"84 New Saddle St., Revere, MA 02151"
825,Kevin,Smith,male,16,5,20,100.0,"273 Anderson Lane, Perkasie, PA 18944"

In [95]:
ocjene_df.sort_values(by=['sati_tjednog_ucenja', 'dob'])

,ime,perzime,spol,dob,sati_tjednog_vjezbanja,sati_tjednog_ucenja,ocjena,adresa
1213,Arthur,Nieves,male,14,3,0,76.8,"377 Beech Street, Chesterfield, VA 23832"
356,Luke,Santana,male,17,1,0,75.0,"2 Sunbeam Dr., Zionsville, IN 46077"
1611,Garrett,Everett,male,17,2,0,78.1,"7963 South Thorne Drive, Sterling, VA 20164"
80,Hoyt,Lyons,male,16,5,1,71.3,"720 Linden Street, Springfield Gardens, NY 11413"
1507,Ferris,Avila,male,18,5,1,74.2,"85 Brown Drive, Pensacola, FL 32503"
...,...,...,...,...,...,...,...,...
36,Ivor,Arnold,male,19,4,20,100.0,"7027 Magnolia Dr., Catonsville, MD 21228"
101,Sage,Cleveland,female,19,2,20,100.0,"9721B Green Dr., Fairhope, AL 36532"
204,Timon,Goodman,male,19,4,20,98.0,"3 North Rockaway Ave., Uniontown, PA 15401"
508,Dai,Osborne,female,19,5,20,100.0,"2 Pilgrim Road, Alexandria, VA 22304"
954,Athena,Harvey,female,19,5,20,100.0,"137 Cedar Swamp Street, Laurel, MD 20707"

In [96]:
ocjene_df.sort_values(by=['sati_tjednog_ucenja', 'dob'], ascending=False)

,ime,perzime,spol,dob,sati_tjednog_vjezbanja,sati_tjednog_ucenja,ocjena,adresa
36,Ivor,Arnold,male,19,4,20,100.0,"7027 Magnolia Dr., Catonsville, MD 21228"
101,Sage,Cleveland,female,19,2,20,100.0,"9721B Green Dr., Fairhope, AL 36532"
204,Timon,Goodman,male,19,4,20,98.0,"3 North Rockaway Ave., Uniontown, PA 15401"
508,Dai,Osborne,female,19,5,20,100.0,"2 Pilgrim Road, Alexandria, VA 22304"
954,Athena,Harvey,female,19,5,20,100.0,"137 Cedar Swamp Street, Laurel, MD 20707"
...,...,...,...,...,...,...,...,...
1507,Ferris,Avila,male,18,5,1,74.2,"85 Brown Drive, Pensacola, FL 32503"
80,Hoyt,Lyons,male,16,5,1,71.3,"720 Linden Street, Springfield Gardens, NY 11413"
356,Luke,Santana,male,17,1,0,75.0,"2 Sunbeam Dr., Zionsville, IN 46077"
1611,Garrett,Everett,male,17,2,0,78.1,"7963 South Thorne Drive, Sterling, VA 20164"
1213,Arthur,Nieves,male,14,3,0,76.8,"377 Beech Street, Chesterfield, VA 23832"

In [99]:
ocjene_df.sort_values(by=['sati_tjednog_ucenja', 'dob'], ascending=False).head(15)

,ime,perzime,spol,dob,sati_tjednog_vjezbanja,sati_tjednog_ucenja,ocjena,adresa
36,Ivor,Arnold,male,19,4,20,100.0,"7027 Magnolia Dr., Catonsville, MD 21228"
101,Sage,Cleveland,female,19,2,20,100.0,"9721B Green Dr., Fairhope, AL 36532"
204,Timon,Goodman,male,19,4,20,98.0,"3 North Rockaway Ave., Uniontown, PA 15401"
508,Dai,Osborne,female,19,5,20,100.0,"2 Pilgrim Road, Alexandria, VA 22304"
954,Athena,Harvey,female,19,5,20,100.0,"137 Cedar Swamp Street, Laurel, MD 20707"
226,Uriah,Cummings,male,18,3,20,100.0,"444 West Homestead Rd., Lebanon, PA 17042"
616,Ali,Franks,male,18,5,20,100.0,"78 Essex Road, Stillwater, MN 55082"
1021,Cassidy,Whitley,female,18,4,20,100.0,"425 Taylor St., Winter Haven, FL 33880"
1356,Gray,Jensen,male,18,5,20,100.0,"652 Cemetery St., Boynton Beach, FL 33435"
1650,Denise,Sloan,female,18,4,20,100.0,"36 Bowman Dr., Fort Dodge, IA 50501"
1665,Avram,Huber,male,18,3,20,100.0,"36 S. Pacific Ave., Palm City, FL 34990"
1719,Gay,Carlson,female,18,2,20,100.0,"805 Lakeview Avenue, Villa Park, IL 60181"
164,Elton,Preston,male,17,4,20,97.8,"64 St Paul Drive, Fair Lawn, NJ 07410"
690,Sylvester,Payne,male,17,5,20,100.0,"242 Goldfield Ave., Encino, CA 91316"
1070,Dominic,Martin,male,17,1,20,92.9,"58 Rocky River Ave., Fond Du Lac, WI 54935"

In [100]:
ocjene_df.sort_values(by=['sati_tjednog_ucenja', 'dob'], ascending=False).tail(15)

,ime,perzime,spol,dob,sati_tjednog_vjezbanja,sati_tjednog_ucenja,ocjena,adresa
700,Steven,Sherman,male,18,1,2,60.0,"8029 Depot Street, Port Charlotte, FL 33952"
836,Abel,Stephens,male,18,4,2,68.2,"7 Bow Ridge Ave., Lansing, MI 48910"
1110,Xerxes,Mooney,female,17,1,2,70.4,"974 Theatre Dr., Arvada, CO 80003"
1317,Kessie,Mcdonald,female,17,1,2,62.2,"311 Pierce St., Eugene, OR 97402"
393,Gabriel,Jordan,male,16,4,2,62.0,"7986 Briarwood Road, Cranberry Twp, PA 16066"
410,Linda,Baldwin,female,16,5,2,59.0,"970 SW. Second Ave., Cedar Falls, IA 50613"
903,Lee,Barber,male,15,2,2,62.3,"449 Pearl Street, Largo, FL 33771"
1640,Nolan,Small,male,14,3,2,71.5,"9205 Myers Drive, Ellicott City, MD 21042"
1758,Omar,Pittman,male,14,5,2,66.6,"281 Tower Street, Saint Johns, FL 32259"
1916,Kevin,Townsend,male,14,5,2,60.1,"9805 Walnutwood Dr., Panama City, FL 32404"
1507,Ferris,Avila,male,18,5,1,74.2,"85 Brown Drive, Pensacola, FL 32503"
80,Hoyt,Lyons,male,16,5,1,71.3,"720 Linden Street, Springfield Gardens, NY 11413"
356,Luke,Santana,male,17,1,0,75.0,"2 Sunbeam Dr., Zionsville, IN 46077"
1611,Garrett,Everett,male,17,2,0,78.1,"7963 South Thorne Drive, Sterling, VA 20164"
1213,Arthur,Nieves,male,14,3,0,76.8,"377 Beech Street, Chesterfield, VA 23832"

In [102]:
# Prvo su podaci filtrirani, zatim je sortiran rezultat filtriranja od veceg prema manjem i na kraju je uzeto zadnjih 15 redaka
ocjene_df.loc[ocjene_df['spol'] == 'male'].sort_values(by=['sati_tjednog_ucenja', 'dob'], ascending=False).tail(15)

,ime,perzime,spol,dob,sati_tjednog_vjezbanja,sati_tjednog_ucenja,ocjena,adresa
1278,Barclay,Nichols,male,19,0,2,66.3,"9999 Longbranch St., Wayne, NJ 07470"
1359,Jin,Valdez,male,19,2,2,77.0,"604 Big Rock Cove Drive, Gibsonia, PA 15044"
1931,Luke,Morrison,male,19,5,2,70.1,"471 Windfall Ave., Santa Monica, CA 90403"
700,Steven,Sherman,male,18,1,2,60.0,"8029 Depot Street, Port Charlotte, FL 33952"
836,Abel,Stephens,male,18,4,2,68.2,"7 Bow Ridge Ave., Lansing, MI 48910"
393,Gabriel,Jordan,male,16,4,2,62.0,"7986 Briarwood Road, Cranberry Twp, PA 16066"
903,Lee,Barber,male,15,2,2,62.3,"449 Pearl Street, Largo, FL 33771"
1640,Nolan,Small,male,14,3,2,71.5,"9205 Myers Drive, Ellicott City, MD 21042"
1758,Omar,Pittman,male,14,5,2,66.6,"281 Tower Street, Saint Johns, FL 32259"
1916,Kevin,Townsend,male,14,5,2,60.1,"9805 Walnutwood Dr., Panama City, FL 32404"
1507,Ferris,Avila,male,18,5,1,74.2,"85 Brown Drive, Pensacola, FL 32503"
80,Hoyt,Lyons,male,16,5,1,71.3,"720 Linden Street, Springfield Gardens, NY 11413"
356,Luke,Santana,male,17,1,0,75.0,"2 Sunbeam Dr., Zionsville, IN 46077"
1611,Garrett,Everett,male,17,2,0,78.1,"7963 South Thorne Drive, Sterling, VA 20164"
1213,Arthur,Nieves,male,14,3,0,76.8,"377 Beech Street, Chesterfield, VA 23832"

Koje ime i prezime se najcese pojavljuje u data setu o ocjenama?

In [108]:
ocjene_df.describe(include='all')

,ime,perzime,spol,dob,sati_tjednog_vjezbanja,sati_tjednog_ucenja,ocjena,adresa
count,2000,2000,2000,2000.000000,2000.000000,2000.000000,2000.000000,2000
unique,958,877,2,NaN,NaN,NaN,NaN,2000
top,Dolan,Harvey,female,NaN,NaN,NaN,NaN,"9253 Richardson Road, Matawan, NJ 07747"
freq,9,7,1000,NaN,NaN,NaN,NaN,1
mean,NaN,NaN,NaN,16.578500,3.000500,10.988500,82.556050,NaN
std,NaN,NaN,NaN,1.696254,1.423205,4.063942,9.747593,NaN
min,NaN,NaN,NaN,14.000000,0.000000,0.000000,32.000000,NaN
25%,NaN,NaN,NaN,15.000000,2.000000,8.000000,75.575000,NaN
50%,NaN,NaN,NaN,17.000000,3.000000,11.000000,82.700000,NaN
75%,NaN,NaN,NaN,18.000000,4.000000,14.000000,89.700000,NaN
max,NaN,NaN,NaN,19.000000,5.000000,20.000000,100.000000,NaN

**ZADATAK**<br>
**Sortirajte jednu ili više kolona iz grupa podataka o nekretninama i njihovim ocjenama (*listings_df*, *reviews_df*).**

In [104]:
abnb_ny_listings_df

,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,last_review_year,minimal_revenue
0,Manhattan,Midtown,Entire home/apt,150.0,30,48,2019-11-04,0.34,3,341,2019,4500.0
1,Brooklyn,Bedford-Stuyvesant,Entire home/apt,75.0,1,408,2021-06-29,5.09,1,212,2021,75.0
2,Brooklyn,Bedford-Stuyvesant,Private room,60.0,30,50,2016-06-05,0.55,1,365,2016,1800.0
3,Brooklyn,Sunset Park,Entire home/apt,275.0,5,1,2014-01-02,0.01,1,184,2014,1375.0
4,Manhattan,Midtown,Private room,61.0,2,485,2021-07-18,3.63,1,255,2021,122.0
...,...,...,...,...,...,...,...,...,...,...,...,...
36719,Manhattan,Midtown,Entire home/apt,255.0,31,0,1970-01-01,0.00,6,364,1970,7905.0
36720,Manhattan,Upper West Side,Entire home/apt,306.0,5,0,1970-01-01,0.00,1,16,1970,1530.0
36721,Manhattan,Upper East Side,Entire home/apt,63.0,30,0,1970-01-01,0.00,96,334,1970,1890.0
36722,Queens,Arverne,Private room,75.0,1,0,1970-01-01,0.00,1,87,1970,75.0
36723,Manhattan,Murray Hill,Entire home/apt,115.0,30,0,1970-01-01,0.00,11,364,1970,3450.0

In [105]:
abnb_ny_listings_df.sort_values(by=['price'], ascending=False).head(20)

,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,last_review_year,minimal_revenue
15760,Manhattan,Upper West Side,Entire home/apt,10000.0,30,0,1970-01-01,0.00,1,0,1970,300000.0
20324,Manhattan,Murray Hill,Shared room,10000.0,40,11,2019-06-25,0.38,1,180,2019,400000.0
24888,Manhattan,Lower East Side,Private room,10000.0,1,0,1970-01-01,0.00,5,365,1970,10000.0
24499,Manhattan,Midtown,Private room,10000.0,30,0,1970-01-01,0.00,11,254,1970,300000.0
10395,Queens,Long Island City,Entire home/apt,10000.0,30,28,2017-11-14,0.47,1,0,2017,300000.0
32207,Brooklyn,Sheepshead Bay,Entire home/apt,10000.0,1,1,2021-02-11,0.17,1,365,2021,10000.0
16047,Queens,Astoria,Entire home/apt,10000.0,72,26,2019-10-26,0.65,1,88,2019,720000.0
27624,Manhattan,Upper East Side,Entire home/apt,9999.0,30,1,2020-05-31,0.07,1,0,2020,299970.0
21404,Manhattan,Lower East Side,Private room,9999.0,30,48,2020-08-17,2.52,3,359,2020,299970.0
3853,Manhattan,East Harlem,Entire home/apt,9999.0,30,1,2015-01-02,0.01,1,0,2015,299970.0
20391,Manhattan,Lower East Side,Entire home/apt,9999.0,30,0,1970-01-01,0.00,1,365,1970,299970.0
21401,Manhattan,Lower East Side,Private room,9999.0,30,49,2020-10-06,2.47,3,359,2020,299970.0
21403,Manhattan,Lower East Side,Private room,9999.0,30,22,2020-02-17,1.14,3,359,2020,299970.0
3475,Manhattan,East Village,Private room,9990.0,30,9,2016-06-13,0.14,1,0,2016,299700.0
14116,Queens,Briarwood,Private room,9000.0,30,0,1970-01-01,0.00,1,0,1970,270000.0
7309,Manhattan,Lower East Side,Private room,7314.0,99,6,2016-01-01,0.09,1,83,2016,724086.0
18466,Manhattan,Lower East Side,Private room,7000.0,30,0,1970-01-01,0.00,1,0,1970,210000.0
2206,Brooklyn,Clinton Hill,Entire home/apt,6500.0,30,0,1970-01-01,0.00,1,0,1970,195000.0
22776,Manhattan,Tribeca,Entire home/apt,6500.0,180,0,1970-01-01,0.00,1,365,1970,1170000.0
14241,Brooklyn,Cypress Hills,Entire home/apt,6429.0,30,4,2017-09-11,0.09,1,89,2017,192870.0

In [103]:
abnb_ny_reviews_df

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,2595,17857,2009-11-21,50679,Jean,Notre séjour de trois nuits.\r<br/>Nous avons ...
1,2595,19176,2009-12-05,53267,Cate,Great experience.
2,2595,19760,2009-12-10,38960,Anita,I've stayed with my friend at the Midtown Cast...
3,2595,34320,2010-04-09,71130,Kai-Uwe,"We've been staying here for about 9 nights, en..."
4,2595,46312,2010-05-25,117113,Alicia,We had a wonderful stay at Jennifer's charming...
...,...,...,...,...,...,...
839316,51333702,419451978146866472,2021-08-01,389952287,Latyna,Very lovely home
839317,51337315,418916185474819186,2021-07-31,346570573,Vai,The host canceled this reservation the day bef...
839318,51344110,420170792523838346,2021-08-02,8178169,Lauren,Christopher's place is really well located. It...
839319,51344110,420918895863584518,2021-08-03,347454973,Eli Zoe,"Nice place , comfy, all what you need for nice..."
839320,51344110,421704097790531569,2021-08-04,36040182,Arnaud,Host has been very kind and responsive. <br/>T...

In [106]:
abnb_ny_reviews_df.sort_values(by=['date']).head(20)

,listing_id,id,date,reviewer_id,reviewer_name,comments
1110,5803,1743,2009-04-23,9868,Pamela,"Artwork, indeed! The walls are covered with dr..."
507,5178,2091,2009-05-06,8443,Dimitri,"MR. Kasai was a grreat host , very helpful and..."
1111,5803,2767,2009-05-17,16345,Jocelyne,"Great place to stay - lovely home, lovely host..."
508,5178,3015,2009-05-23,15642,Duong,The room is great and the hosts are superb!!
1302,6848,3149,2009-05-25,18003,Ken,Stayed with Allen and Irina about a year ago. ...
456,5121,3271,2009-05-28,2995,Misha,"Simple place, super nice guy."
1303,6848,3287,2009-05-29,16426,Mimi,Irina was very welcoming and the apt was comfo...
1112,5803,3549,2009-06-03,19091,Cam,"Great place, great garden, friendly cats and n..."
1304,6848,3687,2009-06-07,18432,Alice,This apartment was perfect for our stay in NY ...
1305,6848,3987,2009-06-14,8646,Mike,Allen and Irena were simply wonderful hosts an...
509,5178,4019,2009-06-14,19644,Jim,"Very good experience. The room is clean, quiet..."
457,5121,5018,2009-07-04,23868,Yevgeniy,Great guy with a basic room. Clean sheets and ...
510,5178,5138,2009-07-06,18347,Enki,i agree with other reviewers in that the locat...
1306,6848,5228,2009-07-08,17311,Megan,It's everything Mike M said & more. Allen & Ir...
1113,5803,5554,2009-07-14,24880,Muriel,Booked this on behalf of my daughter so didnt ...
1307,6848,5624,2009-07-16,20347,Will,"Great place, friendly people, had everything w..."
1114,5803,5840,2009-07-20,17112,Marcel & Seda,It was the first time we used BB and not the l...
1308,6848,5947,2009-07-22,22786,Jeff,"The basics: Clean, nice, home-away-from-home f..."
1309,6848,6193,2009-07-27,22455,Celeste,"Good deal for Brooklyn. Clean, AC, Irina let u..."
1310,6848,6664,2009-08-03,26517,Manya,The place was perfect for my birthday weekend....

**Grupiranje podataka**

Podatke često grupiramo po nekoj kategoriji. Na primjer, svi apartmani ili svi učenici neke dobi. Za tu grupu podataka onda napravimo određeni statistički izračun (srednja vrijednost, medijan i sl.).

Iz primjera niže, prvo smo izdvojili tri kolone, od kojih smo onda napravili grupiranje po tipu nekretnine i za svaku od tih grupa smo izračunali srednju vrijednost.

*INFORMACIJA: ukoliko ste "izgubili" kolonu 'minimal_revenue', a može se dogoditi jer radimo u jednom velikom Python programu, ponovite njezino kreiranje. Ovo se može dogoditi zato što radimo dosta primjera, često pokrećemo različite ćelije i to ne nužno onim redoslijedom kako smo ih napisali pa zbog toga može doći do grešaka. U stvarnom životu, kada radite s jednom skupinom podataka, odmah je razdvojite na manje cjeline i onda na svakoj manjoj cjelini radite zasebno.*

In [110]:
abnb_ny_listings_df.head()

,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,last_review_year,minimal_revenue
0,Manhattan,Midtown,Entire home/apt,150.0,30,48,2019-11-04,0.34,3,341,2019,4500.0
1,Brooklyn,Bedford-Stuyvesant,Entire home/apt,75.0,1,408,2021-06-29,5.09,1,212,2021,75.0
2,Brooklyn,Bedford-Stuyvesant,Private room,60.0,30,50,2016-06-05,0.55,1,365,2016,1800.0
3,Brooklyn,Sunset Park,Entire home/apt,275.0,5,1,2014-01-02,0.01,1,184,2014,1375.0
4,Manhattan,Midtown,Private room,61.0,2,485,2021-07-18,3.63,1,255,2021,122.0

In [116]:
abnb_ny_listings_df[['room_type', 'price', 'minimal_revenue']].groupby('room_type').median()

                 price  minimal_revenue
room_type
Entire home/apt  151.0           3300.0
Hotel room       214.0            275.0
Private room      67.0           1350.0
Shared room       50.0            945.0

In [119]:
abnb_ny_listings_df[['room_type', 'price', 'minimal_revenue']].groupby('room_type', as_index=False).median()

         room_type  price  minimal_revenue
0  Entire home/apt  151.0           3300.0
1       Hotel room  214.0            275.0
2     Private room   67.0           1350.0
3      Shared room   50.0            945.0

In [120]:
abnb_ny_listings_df[['room_type', 'price', 'minimal_revenue']].groupby('room_type', as_index=False).describe()

         room_type    price                                              \
                      count        mean         std   min    25%    50%
0  Entire home/apt  19484.0  213.324779  310.830582  10.0  111.0  151.0
1       Hotel room    259.0  293.262548  279.581360   0.0  135.0  214.0
2     Private room  16382.0   96.617690  249.534072  10.0   50.0   67.0
3      Shared room    599.0  107.978297  451.337586  15.0   34.0   50.0

                  minimal_revenue                                          \
     75%      max           count         mean           std   min    25%
0  225.0  10000.0         19484.0  4949.334480  15674.139091  29.0  789.0
1  354.5   1295.0           259.0  2662.552124   6290.617826   0.0  148.0
2   94.0  10000.0         16382.0  1963.337077  10731.841625  18.0  225.0
3   84.5  10000.0           599.0  2575.096828  17079.169710  15.0  125.0


      50%     75%        max
0  3300.0  5437.5  1170000.0
1   275.0  1004.0    38850.0
2  1350.0  2160.0   724086.0
3   945.0  2040.0   400000.0

Podatke možemo grupirati, ne samo u jednoj koloni, nego u više njih.

In [122]:
abnb_ny_listings_df[['room_type', 'last_review_year', 'price', 'minimal_revenue']].groupby(['room_type', 'last_review_year'], as_index=False).median()

          room_type  last_review_year  price  minimal_revenue
0   Entire home/apt              1970  180.0           4770.0
1   Entire home/apt              2010  228.0            228.0
2   Entire home/apt              2011  165.0           4950.0
3   Entire home/apt              2012  150.0           3750.0
4   Entire home/apt              2013  150.0           4500.0
5   Entire home/apt              2014  170.0           4560.0
6   Entire home/apt              2015  150.0           4500.0
7   Entire home/apt              2016  150.0           4455.0
8   Entire home/apt              2017  149.0           4200.0
9   Entire home/apt              2018  150.0           4140.0
10  Entire home/apt              2019  150.0           3900.0
11  Entire home/apt              2020  148.0           3600.0
12  Entire home/apt              2021  150.0            750.0
13       Hotel room              1970  370.0            468.0
14       Hotel room              2016  349.0          10470.0
15       Hotel room              2017  248.0            496.0
16       Hotel room              2018  125.0           3750.0
17       Hotel room              2019  291.0            482.0
18       Hotel room              2020  211.5            577.0
19       Hotel room              2021  165.0            176.0
20     Private room              1970   68.0           1560.0
21     Private room              2011  349.0          10470.0
22     Private room              2012   90.0           2900.0
23     Private room              2013  100.0           3000.0
24     Private room              2014   80.0           2250.0
25     Private room              2015   75.0           2160.0
26     Private room              2016   65.0           1800.0
27     Private room              2017   65.0           1800.0
28     Private room              2018   65.0           1740.0
29     Private room              2019   69.0           1800.0
30     Private room              2020   63.0           1440.0
31     Private room              2021   68.0            180.0
32      Shared room              1970   65.0           1350.0
33      Shared room              2013   50.0           3750.0
34      Shared room              2014   82.0           2460.0
35      Shared room              2015   61.5           1425.0
36      Shared room              2016   95.0           2850.0
37      Shared room              2017   51.0           1376.0
38      Shared room              2018   57.0           1275.0
39      Shared room              2019   55.0           1170.0
40      Shared room              2020   45.0           1050.0
41      Shared room              2021   40.0             90.0

In [123]:
abnb_ny_listings_df[['room_type', 'last_review_year', 'price', 'minimal_revenue']].groupby(['room_type', 'last_review_year'], as_index=False).describe()

          room_type last_review_year   price                                  \
                                       count        mean          std    min
0   Entire home/apt             1970  4545.0  262.485149   398.992280   10.0
1   Entire home/apt             2010     1.0  228.000000          NaN  228.0
2   Entire home/apt             2011     5.0  191.800000    80.954926  100.0
3   Entire home/apt             2012    17.0  156.000000    79.787217   60.0
4   Entire home/apt             2013    27.0  170.666667    94.394834   70.0
5   Entire home/apt             2014   124.0  184.879032   102.694875   50.0
6   Entire home/apt             2015   552.0  228.021739   520.387919   49.0
7   Entire home/apt             2016   920.0  187.533696   251.723787   39.0
8   Entire home/apt             2017   862.0  205.882831   488.352038   35.0
9   Entire home/apt             2018  1093.0  178.282708   135.818728   10.0
10  Entire home/apt             2019  2163.0  197.652335   276.881225   30.0
11  Entire home/apt             2020  2536.0  194.514196   276.693151   35.0
12  Entire home/apt             2021  6639.0  201.914445   229.284356   25.0
13       Hotel room             1970    61.0  407.655738   362.097910    0.0
14       Hotel room             2016     1.0  349.000000          NaN  349.0
15       Hotel room             2017     3.0  241.000000    37.986840  200.0
16       Hotel room             2018     3.0  128.333333    30.138569  100.0
17       Hotel room             2019    32.0  291.718750   113.908065   50.0
18       Hotel room             2020    52.0  339.038462   321.670637    0.0
19       Hotel room             2021   107.0  211.831776   215.138678    0.0
20     Private room             1970  4626.0  113.444228   319.497506   10.0
21     Private room             2011     1.0  349.000000          NaN  349.0
22     Private room             2012    10.0  112.900000    58.506315   65.0
23     Private room             2013    11.0  102.454545    33.918619   61.0
24     Private room             2014    66.0   95.848485    83.029975   29.0
25     Private room             2015   445.0   83.240449    48.966004   25.0
26     Private room             2016   755.0  104.994702   457.084722   18.0
27     Private room             2017   814.0   78.045455    93.336878   19.0
28     Private room             2018  1137.0   82.330695   101.943274   15.0
29     Private room             2019  2103.0   83.535901    75.885508   14.0
30     Private room             2020  2072.0   97.245656   387.864813   10.0
31     Private room             2021  4342.0   91.765546   100.405943   11.0
32      Shared room             1970   183.0  104.267760   214.135418   15.0
33      Shared room             2013     1.0   50.000000          NaN   50.0
34      Shared room             2014     2.0   82.000000     2.828427   80.0
35      Shared room             2015    20.0  166.300000   262.979307   40.0
36      Shared room             2016    17.0  117.058824   110.122926   20.0
37      Shared room             2017    20.0   67.700000    48.246189   22.0
38      Shared room             2018    28.0  107.535714   226.891144   20.0
39      Shared room             2019    87.0  239.241379  1111.381018   20.0
40      Shared room             2020    98.0   68.397959   105.630238   15.0
41      Shared room             2021   143.0   57.244755    87.688165   20.0

                                   minimal_revenue                \
       25%    50%     75%      max           count          mean
0   125.00  180.0  280.00  10000.0          4545.0   7906.647085
1   228.00  228.0  228.00    228.0             1.0    228.000000
2   145.00  165.0  250.00    299.0             5.0   5754.000000
3    99.00  150.0  175.00    375.0            17.0   5992.882353
4   120.00  150.0  160.00    500.0            27.0   6182.037037
5   120.00  170.0  221.25    700.0           124.0   7935.516129
6   120.00  150.0  216.25   9999.0           552.0   6890.673913
7   105.00  150.0  200.00   5000.0           920.0   5540.232609
8   105.25  149.0  200.00  10000.0           862.0   6801.602088
9   107.00  150.0  200.00   1600.0          1093.0   5878.611162
10  110.00  150.0  210.00  10000.0          2163.0   5491.085992
11  100.00  148.0  205.00   9999.0          2536.0   4853.522082
12  110.00  150.0  220.00  10000.0          6639.0   2084.742582
13  145.00  370.0  569.00   1295.0            61.0   5234.704918
14  349.00  349.0  349.00    349.0             1.0  10470.000000
15  224.00  248.0  261.50    275.0             3.0    573.666667
16  112.50  125.0  142.50    160.0             3.0   3850.000000
17  201.75  291.0  343.50    549.0            32.0   3291.218750
18  135.00  211.5  434.00   1245.0            52.0   3829.634615
19  125.00  165.0  249.00   1206.0           107.0    393.299065
20   49.00   68.0   99.00  10000.0          4626.0   2766.112624
21  349.00  349.0  349.00    349.0             1.0  10470.000000
22   70.00   90.0  148.00    225.0            10.0   3570.000000
23   78.00  100.0  122.00    179.0            11.0   2722.272727
24   55.25   80.0  100.00    599.0            66.0   3501.212121
25   55.00   75.0  100.00    500.0           445.0   2395.256180
26   50.00   65.0   85.00   9990.0           755.0   4052.875497
27   49.00   65.0   90.00   2299.0           814.0   2145.793612
28   50.00   65.0   90.00   2500.0          1137.0   2166.667546
29   50.00   69.0   95.00   1700.0          2103.0   1971.082263
30   48.00   63.0   88.00   9999.0          2072.0   2189.076255
31   51.00   68.0   96.00   3000.0          4342.0    470.570474
32   35.00   65.0   90.00   2600.0           183.0   2818.737705
33   50.00   50.0   50.00     50.0             1.0   3750.000000
34   81.00   82.0   83.00     84.0             2.0   2460.000000
35   45.00   61.5  110.25   1000.0            20.0   3102.900000
36   72.00   95.0  115.00    500.0            17.0   3864.352941
37   37.25   51.0   81.25    225.0            20.0   1878.100000
38   38.75   57.0   86.00   1250.0            28.0   1786.785714
39   40.00   55.0   97.00  10000.0            87.0   7242.528736
40   32.25   45.0   69.75   1000.0            98.0   1403.591837
41   30.00   40.0   56.50    799.0           143.0    244.671329


             std      min       25%      50%      75%        max
0   25780.181400     29.0   2790.00   4770.0   8100.0  1170000.0
1            NaN    228.0    228.00    228.0    228.0      228.0
2    2428.647772   3000.0   4350.00   4950.0   7500.0     8970.0
3    7519.625738     99.0   2850.00   3750.0   5250.0    33300.0
4    6789.143520    560.0   3750.00   4500.0   6000.0    36500.0
5   21731.633039    110.0   3000.00   4560.0   6637.5   225000.0
6   16556.951584    130.0   3450.00   4500.0   6322.5   299970.0
7    8004.184294    106.0   3000.00   4455.0   6000.0   150000.0
8   19278.544845     94.0   3000.00   4200.0   5970.0   300000.0
9   10049.224695     75.0   2820.00   4140.0   5850.0   143640.0
10  17908.632945     65.0   2400.00   3900.0   5910.0   720000.0
11   8427.733254     35.0   1750.00   3600.0   5581.5   299970.0
12   3688.041025     37.0    342.00    750.0   2971.0    98915.0
13   9769.107384      0.0    174.00    468.0   4800.0    38850.0
14           NaN  10470.0  10470.00  10470.0  10470.0    10470.0
15    222.890855    400.0    448.00    496.0    660.5      825.0
16    904.157066   3000.0   3375.00   3750.0   4275.0     4800.0
17   4091.599922    154.0    298.00    482.0   5737.5    12300.0
18   7333.202583      0.0    201.25    577.0   4372.5    37350.0
19    989.624459      0.0    129.00    176.0    250.0     8280.0
20  13233.795647     27.0    930.00   1560.0   2400.0   529615.0
21           NaN  10470.0  10470.00  10470.0  10470.0    10470.0
22   2021.325198    630.0   2062.50   2900.0   5430.0     6750.0
23   1494.662777     85.0   2040.00   3000.0   3660.0     5370.0
24   6462.596112     60.0   1650.00   2250.0   2985.0    50735.0
25   1732.912600     40.0   1500.00   2160.0   2970.0    19440.0
26  31417.603244     26.0   1350.00   1800.0   2415.0   724086.0
27   3120.165732     40.0   1350.00   1800.0   2625.0    82125.0
28   3475.355687     35.0   1200.00   1740.0   2520.0    75000.0
29   2008.341418     30.0    990.00   1800.0   2550.0    35700.0
30  11615.282880     24.0    345.00   1440.0   2160.0   299970.0
31    726.930034     18.0     93.00    180.0    413.0    13500.0
32   5894.964088     30.0    750.00   1350.0   2685.0    59880.0
33           NaN   3750.0   3750.00   3750.0   3750.0     3750.0
34     84.852814   2400.0   2430.00   2460.0   2490.0     2520.0
35   5413.576490     41.0   1150.00   1425.0   2295.0    24000.0
36   3695.103465    144.0   2160.00   2850.0   4500.0    15000.0
37   1513.728297     31.0   1203.75   1376.0   2287.5     6750.0
38   1250.552866     54.0   1012.50   1275.0   2325.0     4500.0
39  43687.030169     29.0    150.00   1170.0   2250.0   400000.0
40   1496.483967     15.0    570.00   1050.0   1650.0     8970.0
41    346.474168     25.0     41.50     90.0    228.0     1470.0

**ZADATAK**<br>
**Grupirajte jednu ili više kolona iz grupa podataka o ocjenama učenika.**

**Korelacija između podataka u kolonama**

Često ćemo željeti otkriti u kakvoj su vezi podaci iz jedne kolone s podacima iz druge, odnosno postoji li nekakva korelacija između njih. Na primjer, broj sati učenja i ocjena mogu biti u korelaciji, ali ime i ocjena sigurno ne bi trebali imati međusobni utjecaj, odnosno korelaciju.

Pandas ima ugrađenu metodu nad *DataFrame* objektom naziva *corr()*. Ova metoda vraća vrijednosti do 1 do -1. Ako je korelacija između dviju kolona visoka, onda će vrijednost biti 1 ili jako blizu jedinice, a ako kolone nisu u korelaciji, onda će vrijednost biti negativna, odnosno bit će blizu minus jedan.

Pogledajmo kako *corr()* metoda radi na skupu podataka s ocjenama učenika.

U tabeli se vidi da najveću vrijednost (0.801955) imaju kolone ocjena i *sati_tjednog_ucenja*. Zatim kolone *ocjena* i *sati_tjednog_vjezbanja*.

**ZADATAK**<br>
**Pronađite korelacije za skupine podataka o nekretninama i njihovim ocjenama (*listings_df*, *reviews_df*).**

**PIVOT tabele**

Pivot tabele ste vjerojatno upoznali u Microsoft Excelu. Njihova primjena je sumirati, sortirati, reorganizirati, grupirati, prebrojati sve ili prosjek podataka u tabeli.

Možda ovo pomogne boljem razumijevanju pivot tabele. Pivot tabela može:
- grupirati pojedinačne zapise, redove u kategorije
- prebrojati elemente u svakoj kategoriji
- sumirati vrijednosti elemenata
- izračunati srednju vrijednost, minimum ili maksimum.

Pandas ima ugrađenu metodu *pivot_table()*. Upoznajmo se s njezinim mogućnostima. Više detalja na: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html?highlight=pivot_table#pandas.pivot_table.

Srećom, nema puno kolona, ali zamislimo da ima pa ćemo odabrati prikaz samo prosječne ocjene po spolu i dobi.

Bilo bi dobro kada bismo umjesto prosječne vrijednosti dobili najmanju vrijednost ocjene po spolu.

**ZADATAK**<br>
**Očigledno argument *aggfunc* predstavlja vrijednost funkcije po kojoj se agregira, odnosno grupira, odnosno predstavlja statističku vrijednost koju računamo. Probajte mijenjati *aggfunc* argument nazivima statističkih metoda u Pandasu te uz kolonu ocjene, dodajte i sate tjednog učenja (otkrili smo da su u koleraciji).**

Bilo bi korisno kada bismo na kraju *pivot* tabele, kao zadnji redak, imali i sumarni prikaz za sve vrijednosti određene kolone. Recimo, prosječna vrijednost za ocjene i sate tjednog učenja po spolu, ali i ukupna prosječna vrijednosti za ocjene i sate tjednog učenja BEZ obzira na spol.

### ZADACI ZA VJEŽBANJE

Analizirajte csv datoteke:

- *cars.csv*
- *e-cars.csv*
- *earthquakes.csv*

tako da pomoću Pandas metoda (*corr(), pivot_table() ...*) izvučete neke zanimljive informacije.